@@include('./head.html')
<body class="Account_Topics">
    @@include('./header.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">Account Topics</div>
            <div class="rectagle"></div>
            <div class="text">Become even more connected to the topics that matter to our clients by accessing learning associated with Advisory’s Growth Drivers and continue delivering exceptional client service to keep winning in the market.
                <br />
                <br />
                Select your learning against one of the seven drivers of Advisory’s growth and / or choose learning that enables you to become even more connected to your client's agenda, be responsive to their needs and insightful about their pressing business issues.
            </div>            
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="capability">
            <div class="row">


                <div class="selectrankwrap clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>

                <div class="Sales_Winning hide clearfix">
                    <fieldset id="XXXX">
                        <legend>SELECT GROUP</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem growthDrivers">
                                    <input data-wrapname="Growth_Drivers" id="Growth_Drivers_imput" name=xxx type="radio" value="XXXX">
                                    <div class="capabilityitemtitle">Growth Drivers</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SalesWinning">
                                    <input id="Sales_Winning_Market" name=Sales_Winninggroup type="radio" value="Winning in the Market">
                                    <div class="capabilityitemtitle">Winning in the Market</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide next" href="#">NEXT ></a>
                    <a style="display: none" class="nextslide finish" href="#">FINISH</a>
                </div>


                <div class="Growth_Drivers hide clearfix">
                    <fieldset>
                        <legend>SELECT YOUR Growth Drivers</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Analytics">
                                    <input name=Growth_Driversgroup type="radio" value="Analytics">
                                    <div class="capabilityitemtitle">Analytics</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Cyber">
                                    <input name=Growth_Driversgroup type="radio" value="Cyber">
                                    <div class="capabilityitemtitle">Cyber</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Digital">
                                    <input name=Growth_Driversgroup type="radio" value="Digital">
                                    <div class="capabilityitemtitle">Digital</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FAIT">
                                    <input name=Growth_Driversgroup type="radio" value="FAIT">
                                    <div class="capabilityitemtitle">FAIT</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PAS">
                                    <input name=Growth_Driversgroup type="radio" value="PAS">
                                    <div class="capabilityitemtitle">PAS</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem strategy">
                                    <input name=Growth_Driversgroup type="radio" value="Strategy">
                                    <div class="capabilityitemtitle">Strategy</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem technology">
                                    <input name=Growth_Driversgroup type="radio" value="Technology">
                                    <div class="capabilityitemtitle">Technology</div>
                                </div>
                            </label>
                        </div>       
                         
                         
                         
                        
                          
                          
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="TotalResults">Total Results: <span id="total"></span></div>
            </div>
        </div>  

        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <br />
                <div id="results" class="clearfix"></div>
            </div>               
        </div>

    </section>
    <section class="links">
        <div class="quiklinks"><h1>QUICK LINKS</h1></div>
        <div class="row2 clearfix"> 

            <div class="fiftypercent">
                <div class="linkswrap" style="height: auto">
                    <h2>Growth Drivers</h2>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Advisory Hub</div>
                    <div class="linkstext">Advisory Hub website</div>
                    <a target="_blank" href="https://advisory.ey.com/" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Analytics</div>
                    <div class="linkstext">Global Advisory Analytics Community SharePoint site</div>
                    <a target="_blank" href="https://share.ey.net/sites/GlobalEI/SitePages/Home.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Cybersecurity</div>
                    <div class="linkstext">Advisory Cybersecurity SharePoint site</div>
                    <a target="_blank" href="https://share.ey.net/sites/DS_Advisory_Cyber/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Digital</div>
                    <div class="linkstext">Global Advisory Digital Community SharePoint site</div>
                    <a target="_blank" href="https://share.ey.net/sites/GlobalAdvisoryDigital/SitePages/Community%20Home.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Financial Audit IT (FAIT)</div>
                    <div class="linkstext">Advisory Risk Assurance Financial Audit IT (FAIT) SharePoint page</div>
                    <a target="_blank" href="https://share.ey.net/sites/DS_Advisory_RA/Pages/financial-audit-it-fait.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">People Advisory Services (PAS)</div>
                    <div class="linkstext">PAS SharePoint site </div>
                    <a target="_blank" href="https://share.e
                       .y.net/sites/PeopleAdvisoryServices/SitePages/Home.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Strategy</div>
                    <div class="linkstext">Global Advisory Strategy Community SharePoint site</div>
                    <a target="_blank" href="https://share.ey.net/sites/GlobalAdvisoryStrategy/SitePages/Home.aspx" class="learnmore">LEARN MORE</a>
                </div>

                <div class="linkswrap">
                    <div class="linkstitle">Technology</div>
                    <div class="linkstext">Global Technology Community SharePoint site</div>
                    <a target="_blank" href="https://share.ey.net/sites/globalITA/SitePages/Community%20Home.aspx" class="learnmore">LEARN MORE</a>
                </div>
                
                
                
                <div class="linkswrap">
                    <div class="linkstitle">Advanced Technology Learning Portal</div>
                    <div class="linkstext">Advanced Technology Learning Portal</div>
                    <a target="_blank" href="https://share.ey.net/sites/globalanalyticslearning/SitePages/Community%20Home.aspx" class="learnmore">LEARN MORE</a>
                </div>
                
                <div class="linkswrap">
                    <div class="linkstitle">EY Global Innovation</div>
                    <div class="linkstext">EY Global Innovation</div>
                    <a target="_blank" href="http://www.ey.com/gl/en/issues/business-environment/ey-global-innovation" class="learnmore">LEARN MORE</a>
                </div>
                
            </div>
            <div class="fiftypercent">
                <div class="linkswrap" style="height: auto">
                    <h2>Winning in the market</h2>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Winning in the market</div>
                    <div class="linkstext">Winning in the Market SharePoint site</div>
                    <a target="_blank" href="https://share.ey.net/sites/DS_WITM/Pages/home.aspx" class="learnmore">LEARN MORE</a>
                </div>
                
                <div class="linkswrap">
                    <div class="linkstitle">Winning in the Market A-Z of Tools</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/DS_WITM/Pages/witm-a-z-tools-and-resources.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Winning in the Market video channel</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/WITMselfservice/SitePages/Home.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Global Advisory Sales Toolkits</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/GlobalAdvisorySalesCampaigns/SitePages/Offering_Catalogue.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Account Management Framework (AMF)</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/DS_WITM/Pages/solution-overview.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Effective client encounters (Green Sheet)</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/DS_WITM/Pages/green-sheet.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Strategic opportunity management (Blue Sheet)</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/DS_WITM/Pages/blue-sheet.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Social Style®</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/DS_WITM/Pages/social-style.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Global Markets</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/globalmarkets/SitePages/eyq.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">Global Markets Webcast program</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/globalmarkets/SitePages/WebcastCalendar.aspx" class="learnmore">LEARN MORE</a>
                </div>
                <div class="linkswrap">
                    <div class="linkstitle">EY Alliances</div>
                    <div class="linkstext">XXXX</div>
                    <a target="_blank" href="https://share.ey.net/sites/AcquisitionsandAlliances/SitePages/Alliance.aspx" class="learnmore">LEARN MORE</a>
                </div>
                
                
            </div>
            <div class="clearfix"></div>





        </div>
    </section>
    @@include('./links.html')
    @@include('./List_template.html')




    <script src="assets/js/script.js"></script>
    <script src="assets/js/AT.js"></script>

</body>
</html>
