@@include('./head.html')

<body class="ALJ">
    @@include('./header.html')
    @@include('./immersionpopup.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">Advisory Core Consulting Learning</div>
            <div class="rectagle"></div>
            <div class="text">
                The Advisory Consulting suite of learning provides flexible and scalable courses focused on the core business competencies and skills identified as critical for your career at EY.  With a curriculum tailored by skill level, you can access a full range of learning whether you are looking for beginner basics or to continuously improve as a master practitioner. Feel free to explore the suite of learning and access the new bite-sized courses as and when you need them. 
            </div>
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="capability">
            <div class="row">


                <div class="selectrankwrap clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input name=group type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input name=group type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input name=group type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input name=group type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input name=group type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="nextslide" id="nextslide" href="#">NEXT ></a>
                </div>

                <div class="competancywtrap">
                    <fieldset id="Competency">
                        <legend>SELECT YOUR COMPETENCY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem BUSINESS">
                                    <input name=group2 type="radio" value="Business Acumen">
                                    <div class="capabilityitemtitle">Business Acumen</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem rounded">
                                    <input name=group2 type="radio" value="Business Process Improvement">
                                    <div class="capabilityitemtitle">Business Process Improvement</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem buble">
                                    <input name=group2 type="radio" value="Communication">
                                    <div class="capabilityitemtitle">Communication</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem LEADERSHIP">
                                    <input name=group2 type="radio" value="Leadership">
                                    <div class="capabilityitemtitle">Leadership</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGECHANGE">
                                    <input name=group2 type="radio" value="Manage Change">
                                    <div class="capabilityitemtitle">Manage Change & generate Sustainable Improvements</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PROJECTmANAGEMENT">
                                    <input name=group2 type="radio" value="Project Management">
                                    <div class="capabilityitemtitle">Project Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem tiks">
                                    <input name=group2 type="radio" value="Structured Problem Solving">
                                    <div class="capabilityitemtitle">Structured Problem Solving</div>
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SERVICEDELIVERY">
                                    <input name=group2 type="radio" value="Service Delivery">
                                    <div class="capabilityitemtitle">Service Delivery</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="nextslide" id="prewslide" href="#">  &lt; BACK</a>
                </div>
            </div>


        </div>  




        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <div class="center clearfix">
                    <img src="assets/css/aljarrow.png" alt=""/>
                    <div class="onefour">BEGINNING <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div>
                    </div>
                    <div class="onefour">PROGRESSING <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                    <div class="onefour">PROFICIENT <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                    <div class="onefour">MASTER <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                </div>

                <br />
                <div id="results" class="clearfix"></div>
                <div id="results2" class="clearfix"> <div class="comingsoon">Coming soon</div></div>
                <div id="results3" class="clearfix"><div class="comingsoon">Coming soon</div></div>
                <div id="results4" class="clearfix"><div class="comingsoon">Coming soon</div></div>
            </div>
        </div>



    </section>

    <section class="links">
        <div class="quiklinks"><h1>QUICK LINKS</h1></div>
        <div class="row clearfix"> 

            <div class="center">
                <img src="assets/css/cyrcles2.png" alt=""/>
            </div>

            <div class="linkswrap marginone">
                <div class="marker">1</div>
                <div class="linkstitle">EYU – Developing our people</div>
                <div class="linkstext">Link to the CHS site.</div>
                <a href="http://chs.ey.net/servlet/CHSRenderingServlet?chsReplicaID=852579AD00518D5D" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap margintwo">
                <div class="marker">2</div>
                <div class="linkstitle">MDS</div>
                <div class="linkstext">Launch My Development Site</div>
                <a target="_blank" href="https://my-development.ey.net" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="marker">3</div>
                <div class="linkstitle">PMDP</div>
                <div class="linkstext">To go to PMDP site</div>
                <a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?chsReplicaID=852579AD00518D5D&contentID=CT-98431B8F2C00FC29852579D4003AB029" class="learnmore">LEARN MORE</a>
            </div>
        </div>

    </section>
    <div class="footer clearfix">
        <div class="row">
            <div class="floatleft">
                © 2016 EYGM Limited.
                All Rights Reserved.
            </div>
            <div class="floatright">
                <a class="backToTop" href="#">Back to Top</a>
            </div>
        </div>
    </div>


    <script id="list" type="text/html">
        <% if ( CourseLevel == "Beginner" ){ %>
        <div class="greywrap clearfix Beginner">
            <div class="colorbar"></div>
            <div class="greywraptitle"><%= Title %></div>
            <div class="greydescription">
                <div class="pad2">
                    <%= description %> 
                    <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>
                    <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>
                    <a class="learnmoregreen" target="_blank" href="<%= URL %>">LEARN MORE</a>
                </div>
            </div>
        </div>
        <% } %>
    </script>

    <script id="list2" type="text/html">
        <% if ( CourseLevel == "Processing" ){ %>
        <div class="greywrap clearfix Processing">
            <div class="colorbar"></div>
            <div class="greywraptitle"><%= Title %></div>
            <div class="greydescription">
                <div class="pad2">
                    <%= description %> 
                    <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>
                    <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>
                    <a class="learnmoregreen" target="_blank" href="<%= URL %>">LEARN MORE</a>
                </div>
            </div>
        </div>
        <% } %>
    </script>

    <script id="list3" type="text/html">
        <% if ( CourseLevel == "Proficient" ){ %>
        <div class="greywrap clearfix Proficient">
            <div class="colorbar"></div>
            <div class="greywraptitle"><%= Title %></div>
            <div class="greydescription">
                <div class="pad2">
                    <%= description %> 
                    <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>
                    <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>
                    <a class="learnmoregreen" target="_blank" href="<%= URL %>">LEARN MORE</a>
                </div>
            </div>
        </div>
        <% } %>
    </script>

    <script id="list4" type="text/html">
        <% if ( CourseLevel == "Master" ){ %>
        <div class="greywrap clearfix Master">
            <div class="colorbar"></div>
            <div class="greywraptitle"><%= Title %></div>
            <div class="greydescription">
                <div class="pad2">
                    <%= description %> 
                    <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>
                    <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>
                    <a class="learnmoregreen" target="_blank" href="<%= URL %>">LEARN MORE</a>
                </div>
            </div>
        </div>
        <% } %>
    </script>


    <script src="assets/js/script.js"></script>
    <script src="assets/js/ALJ.js"></script>

</body>
</html>
