@@include('./head.html')
<body class="Advisory_Hot_topics">
    @@include('./header.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">Advisory hot topics </div>
            <div class="rectagle"></div>
            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequa vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</div>            
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="capability">
            <div class="row">

                @@include('./area_region.html')

                <div class="selectrankwrap hide clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="Sales_Winning" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>

                <div class="Sales_Winning hide clearfix">
                    <fieldset id="XXXX">
                        <legend>SELECT GROUP</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="Growth_Drivers" id="Growth_Drivers_imput" name=xxx type="radio" value="XXXX">
                                    <div class="capabilityitemtitle">Growth Drivers</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input id="Sales_Winning_Market" name=Sales_Winninggroup type="radio" value="Sales/Winning in the Market">
                                    <div class="capabilityitemtitle">Sales/Winning in the Market</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide next" href="#">NEXT ></a>
                    <a style="display: none" class="nextslide finish" href="#">FINISH</a>
                </div>


                <div class="Growth_Drivers hide clearfix">
                    <fieldset>
                        <legend>SELECT YOUR Growth Drivers</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=Growth_Driversgroup type="radio" value="Technology">
                                    <div class="capabilityitemtitle">Technology</div>
                                </div>
                            </label>
                        </div>       
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=Growth_Driversgroup type="radio" value="Strategy">
                                    <div class="capabilityitemtitle">Strategy</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=Growth_Driversgroup type="radio" value="Digital">
                                    <div class="capabilityitemtitle">Digital</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=Growth_Driversgroup type="radio" value="Analytics">
                                    <div class="capabilityitemtitle">Analytics</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=Growth_Driversgroup type="radio" value="Cyber">
                                    <div class="capabilityitemtitle">Cyber</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=Growth_Driversgroup type="radio" value="FAIT">
                                    <div class="capabilityitemtitle">FAIT</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=Growth_Driversgroup type="radio" value="PAS">
                                    <div class="capabilityitemtitle">PAS</div>
                                </div>
                            </label>
                        </div>   
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="TotalResults">Total Results: <span id="total"></span></div>
            </div>
        </div>  

        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <br />
                <div id="results" class="clearfix"></div>
            </div>               
        </div>

    </section>

    @@include('./links.html')
    @@include('./List_template.html')

    


    <script src="assets/js/script.js"></script>
    <script src="assets/js/AdvisoryHT.js"></script>

</body>
</html>
