@@include('./head.html')

<body class="ALJ">
    @@include('./header.html')
    @@include('./immersionpopup.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">Core Advisory Skills (CAS) Learning</div>
            <div class="rectagle"></div>
            <div class="text">
                The Core Advisory Skills (CAS) suite of learning provides flexible and scalable courses focused on the core business competencies and skills identified as critical for your career at EY.  With a curriculum tailored by skill level, you can access a full range of learning whether you are looking for beginner basics or to continuously improve as a master practitioner. Feel free to explore the suite of learning and access the new bite-sized courses as and when you need them. 
            </div>
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="blended-togle-wrap">
            <div class="blended-togle clearfix">
                <input value="true" type="checkbox" name="toggle" class="sw" id="Blended">
                <label for="Blended"><span>Programs of Learning</span></label>
                <img title="The Programs of Learning button allows you to search and view learning content that has been grouped together to form a program of learning" class="tooltips" src="assets/css/Program_icon.png" alt=""/>
            </div>
        </div>
        <div class="capability">
            <input id="Divisiontrigger" type="checkbox" value="Advisory">
            <div class="row">

                @@include('./area_region.html')

                <div class="selectrankwrap hide clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="competancywtrap" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="competancywtrap" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="competancywtrap" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="competancywtrap" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="competancywtrap" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>

                <div class="competancywtrap hide">
                    <fieldset id="Competency">
                        <legend>SELECT YOUR COMPETENCY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem BUSINESS">
                                    <input name=group2 type="radio" value="Business Acumen">
                                    <div class="capabilityitemtitle">Business Acumen</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem rounded">
                                    <input name=group2 type="radio" value="Business Process Improvement">
                                    <div class="capabilityitemtitle">Business Process Improvement</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem buble">
                                    <input name=group2 type="radio" value="Communication">
                                    <div class="capabilityitemtitle">Communication</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem LEADERSHIP">
                                    <input name=group2 type="radio" value="Leadership">
                                    <div class="capabilityitemtitle">Leadership</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGECHANGE">
                                    <input name=group2 type="radio" value="Manage Change">
                                    <div class="capabilityitemtitle">Manage Change & Generate Sustainable Improvements</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PROJECTmANAGEMENT">
                                    <input name=group2 type="radio" value="Project Management">
                                    <div class="capabilityitemtitle">Project Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem tiks">
                                    <input name=group2 type="radio" value="Structured Problem Solving">
                                    <div class="capabilityitemtitle">Structured Problem Solving</div>
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SERVICEDELIVERY">
                                    <input name=group2 type="radio" value="Service Delivery">
                                    <div class="capabilityitemtitle">Service Delivery</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>

                    <a data-wrapname="selectrankwrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>                    
                </div>

                <div class="TotalResults">Total Results: <span id="total"></span></div>
            </div>


        </div>  


        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <div class="center clearfix">
                    <img class="aljarrow" src="assets/css/aljarrow.png" alt=""/>
<!--                    <div class="onefour">BEGINNING <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                    <div class="onefour">PROGRESSING <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                    <div class="onefour">PROFICIENT <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                    <div class="onefour">MASTER <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>-->
                </div>

                <br />
                <div id="results" class="onefour clearfix"> 
                    <div class="arrowdown">BEGINNING<div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                </div>
                <div id="results2" class="onefour clearfix"> 
                    <div class="arrowdown">PROGRESSING <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                </div>
                <div id="results3" class=" onefour clearfix">
                    <div class="arrowdown">PROFICIENT <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                </div>
                <div id="results4" class=" onefour clearfix">
                    <div class="arrowdown">MASTER <div class="imag"><img src="assets/css/downarrow.png" alt="" /></div></div>
                </div>
            </div>
        </div>



    </section>

    @@include('./links.html')

    <script id="list" type="text/html">
        <% if ( CourseLevel == "Beginner" ){ %>
        <div class="greywrap clearfix Beginner">
            <div class="colorbar"></div>
            <div class="greywraptitle"><%= Title %></div>
            <div class="greydescription">
                <div class="pad2">
                    <div class="description">
                        <%= description %> 
                    </div>
                    <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>
                    <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>

                    <% if ( America !== true ){ %>
                    <% if ( Blended !== true ){ %>
                    <a class="learnmoregreen" target="_blank" href="<%= URL %>">LEARN MORE</a>
                    <% } %>
                    <% } %>


                </div>
            </div>
        </div>
        <% } %>
    </script>

    <script id="list2" type="text/html">
        <% if ( CourseLevel == "Progressing" ){ %>
        <div class="greywrap clearfix Progressing">
            <div class="colorbar"></div>
            <div class="greywraptitle"><%= Title %></div>
            <div class="greydescription">
                <div class="pad2">
                    <div class="description">
                        <%= description %> 
                    </div>
                    <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>
                    <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>
                    <% if ( America !== true ){ %>
                    <% if ( Blended !== true ){ %>
                    <a class="learnmoregreen" target="_blank" href="<%= URL %>">LEARN MORE</a>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </script>

    <script id="list3" type="text/html">
        <% if ( CourseLevel == "Proficient" ){ %>
        <div class="greywrap clearfix Proficient">
            <div class="colorbar"></div>
            <div class="greywraptitle"><%= Title %></div>
            <div class="greydescription">
                <div class="pad2">
                    <div class="description">
                        <%= description %> 
                    </div>
                    <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>
                    <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>
                    <% if ( America !== true ){ %>
                    <% if ( Blended !== true ){ %>
                    <a class="learnmoregreen" target="_blank" href="<%= URL %>">LEARN MORE</a>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </script>

    <script id="list4" type="text/html">
        <% if ( CourseLevel == "Master" ){ %>
        <div class="greywrap clearfix Master">
            <div class="colorbar"></div>
            <div class="greywraptitle"><%= Title %></div>
            <div class="greydescription">
                <div class="pad2">
                    <div class="description">
                        <%= description %> 
                    </div>
                    <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>
                    <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>
                    <% if ( America !== true ){ %>
                    <% if ( Blended !== true ){ %>
                    <a class="learnmoregreen" target="_blank" href="<%= URL %>">LEARN MORE</a>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
        <% } %>
    </script>


    <script src="assets/js/script.js"></script>
    <script src="assets/js/ALJ.js"></script>

</body>
</html>
