    

@@include('./head.html')

<body class="homepage">
    @@include('./header.html')


    <div data-page="home" class="page1 section">
        <div class="row">
            <div class="homecontent">
                <div class="transperantbox">
                    <h1>Welcome to EY's Advisory Learning Portal, </h1> 

                    <div class="homepagebody">
                        <p>Where ever you are at whatever time, making it easier for you to find the learning that will help you to play your part and enable you to deliver exceptional client service.</p>
                        <div class="darkblock"></div>
                        <p>Drive your own learning throughout your career at EY and access the learning that best meets your needs.</p>
                        <p>Find learning that’s available in your Area, Region, rank, sub-service line, competency, service offering, growth driver and sector as well as by course type.  Keep up-to-date and continuously develop by accessing the latest learning opportunities.</p>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>

            <div class="scroll">
                <img id="scroll" src="assets/css/scroll.png">
                <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt="">
            </div>
        </div>

        <div class="whitewrap">

            <div  id="page1" class="row">
                <div class="trailerstitle">
                    <h1>What’s new?</h1>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="carouselwrap">
            <div class="row">
                <div class="carousel-container">
                    <div id="carousel">                                               
                    </div>
                </div>
                <div id="carousel-left"><img src="assets/css/prev.png" /></div>
                <div id="carousel-right"><img src="assets/css/next.png" /></div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div data-page="virtualclassroom" data-id="2" id="page2" class="page1 section">
        <div>

        </div>
    </div>

    <div data-page="playyourpart" data-id="4" id="page4" class="page4 section">

        <div class="links">
            <div class="linksinner">
                <h1>Other useful links</h1>
                <div class="onethird">
                    <h2>Information</h2>
                    <ul>
                        <li><a target="_blank" href="#">Advisory My Competencies</a></li>
                        <li><a target="_blank" href="#">Building your career</a></li>
                        <li><a target="_blank" href="https://share.ey.net/sites/DS_Advisory/Pages/ey-service-model.aspx">EYSM</a></li>
                        <li><a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?siteAreaID=SA-EYDE-75DNAZ&chsReplicaID=852579AD00518D5D">EYU</a></li>
                        <li><a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?chsReplicaID=852579AD00518D5D&contentID=CT-98431B8F2C00FC29852579D4003AB029">PMDP</a></li>
                    </ul>    
                </div>
                <div class="onethird">
                    <h2>Key Resources</h2>
                    <ul>

                        <li><a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?chsReplicaID=852579AD00518D5D&contentID=CT-4A103C189EEEC5E7C12579FF0068A151">Coaching and you</a></li>
                        <li><a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?chsReplicaID=852579AD00518D5D&contentID=CT-BE4DF1B1759DFBB0C12579D40054017C">Experiences and you</a></li>
                        <li><a target="_blank" href="https://www.eyleads.com">EY Leads</a></li>
                        <li><a target="_blank" href="https://my-development.ey.net">MDS (My Development Site)</a></li>                        
                        <li><a target="_blank" href="https://my-competencies.ey.net" target="_blank">My Competencies</a></li>
                        <li><a href="mailto:alpsupport@eyg.ey.com">Email ALP Support Team</a></li>
                    </ul>
                </div>
                <div class="onethird">
                    <h2>Downloadable Sources</h2>
                    <ul>
                        <li><a target="_blank" href="https://sharecontent.ey.net/cms/LearningResources/Shared%20Documents/2016/08/05/Advisory%20Career_Guide.pdf">Advisory Career Guide </a></li>
                        <li><a target="_blank" href="https://share.ey.net/sites/playyourpart/pages/documents/alp_faqs.pdf">Advisory Learning Portal FAQs</a></li>

                        <li><a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?chsReplicaID=852579AD00518D5D">EYU FY17 Guide</a></li>
                        <li><a target="_blank" href="https://share.ey.net/sites/talentexecutive/Leadership%20at%20EY/Leadership%20definition.pdf">Leadership at EY</a></li>
                        
                    </ul>
                    <h2>External Learning Sources</h2>
                    <ul>
                       
                        <li><a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?draftMode=N&chsReplicaID=852579AD00518D5D&contentID=CT-D6314576CB0D2B0185257BC7003B0C77">Explore other learning opportunities</a></li>
                    </ul>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="quotes">Each of us is empowered to use the strength of our global organisation to deliver exceptional client service and contribute to high-performing teams in the context of Vision 2020.</div>
            </div>
        </div>
        
    </div>
    <div class="footer clearfix">
        <div class="row">
            <div class="floatleft">
                © 2017 EYGM Limited.
                All Rights Reserved.
            </div>
            <div class="floatright">
                <a class="backToTop" href="#">Back to Top</a>
            </div>
        </div>
    </div>

    <script src="assets/js/script.js"></script>
    <script src="assets/js/home.js"></script>

</body>
</html>
