@@include('./head.html')
<body class="PASlearning">
    @@include('./header.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">PAS</div>
            <div class="rectagle"></div>
            <div class="text">The People Advisory Services (PAS) Learning suite is designed to take you from the beginning of your career through to mastery as a practitioner and leader.  Each of the pillars of the PAS practice is catered for, providing continuous professional development through instructor led training, Web Based Learning (WBL), and simulations as well as virtual and blended solutions.
                <br /><br />
                Take charge of your learning and drive your own development! For classroom training please see your local Talent Development team for how to register.</div>   

            <div class="boxes">
                <div class="homeinfobox pos1">  
                    <img src="assets/css/TOOLKIT_ico.png" alt="" />
                    <div class="yelow homeinfoboxtitle">WTEY Portal</div>
                    <div class="homeinfoboxtext">Including information about your geographical region, the WTEY Portal supports you from day one.</div>
                    <a target="_blank" href="http://wtey.ey.net/wps/myportal/wtey">LAUNCH SITE</a>
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>

                    <div class="roundnumber">1</div>
                </div>

                <div class="homeinfobox pos2">  
                    <img src="assets/css/video_icon.png" alt="" />
                    <div class="yelow homeinfoboxtitle">Welcome to PAS</div>
                    <div class="homeinfoboxtext">Introductory Keynote speakers welcome you to PAS.</div>
                    <a target="_blank" href="pas-keynote-speaker-videos.html">WATCH THE VIDEO</a>
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <div class="roundnumber">2</div>
                </div>


                <div class="homeinfobox pos3">  
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <img src="assets/css/TOOLKIT_ico.png" alt="" />
                    <div class="yelow homeinfoboxtitle">PAS Success Toolkit</div>
                    <div class="homeinfoboxtext">A quick reference flipbook of useful information for PAS new joiners</div>
                    <a target="_blank" class="clearfix" href="assets/toolkits/flipbook_Advisory_success_toolkit_v16.pdf">PAS TOOLKIT</a>
                    <div class="roundnumber">3</div>
                </div>

                <div class="homeinfobox pos4">  
                    <img src="assets/css/info_icon.png" alt="" />
                    <div class="yelow homeinfoboxtitle">Introduction to our offerings</div>
                    <div class="homeinfoboxtext">Introduction to our offerings</div>
                    <a target="_blank" href="http://ey-uk.instantmagazine.com/csg/people-advisory-services">PAS OFFERINGS</a>
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <div class="roundnumber">4</div>
                </div>

            </div>


        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>



    <section>





        <div class="resultss">
            <div class="row clearfix">                    
                <div class="maps">


                    <div class="Foundationwrap clearfix">
                        <h1>Welcome to PAS Learning roadmap</h1>
                        <p>Hover over the pins to view more information</p>
                        <img src="assets/css/Foundation-for-managers-and-below-Map2.png" alt=""/>

                        <div class="ADVISORYgroop">MY PAS</div>
                        <div class="CAREERgroop">MY CAREER</div>
                        <div class="CLIENTSgroop">MY CLIENTS</div>

                    </div>
                    <h2 class="bottomtext">Scroll down to view other PAS content by selecting your own choices</h2>
                    
                    <div id="resultss" class="clearfix"></div>

                </div>
            </div>
        </div>




    </section>



    <section>
        <div class="blended-togle-wrap">
            <div class="blended-togle clearfix">
                <input value="true" type="checkbox" name="toggle" class="sw" id="Blended">
                <label for="Blended"><span>Programs of Learning</span></label>
                <img title="The Programs of Learning button allows you to search and view learning content that has been grouped together to form a program of learning" class="tooltips" src="assets/css/Program_icon.png" alt=""/>
            </div>
        </div>
        <div class="capability">
            <input id="Divisiontrigger" type="checkbox" value="PAS">
            <div class="row">

                @@include('./area_region.html')

                <div class="selectrankwrap hide clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED/AP</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>

                <div class="PASCapabilitieswtrap hide clearfix">
                    <fieldset id="PASCapabilities">
                        <legend>SELECT YOUR PAS DOMAIN / CAPABILITIES</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Pillars1">
                                    <input data-wrapname="PASPillarswrap" name=PASCapabilitieswtrapgroup type="radio" value="Pillars">
                                    <div class="capabilityitemtitle">Pillars</div>
                                </div>
                            </label>
                        </div>
                        <!--                        <div class="checkbox">
                                                    <label>
                                                        <div class="capabilityitem ServiceOfferings1">
                                                            <input data-wrapname="PASSERVICEOFFERINGS" name=PASCapabilitieswtrapgroup type="radio" value="Service Offerings">
                                                            <div class="capabilityitemtitle">Service Offerings</div>
                                                        </div>
                                                    </label>
                                                </div>-->
                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>


                <!--                <div class="PASSERVICEOFFERINGS hide clearfix">
                                    <fieldset id="PASSERVICEOFFERINGS">
                                        <legend>SELECT YOUR PAS SERVICE OFFERINGS</legend>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem ChangeManagement">
                                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Change Management">
                                                    <div class="capabilityitemtitle">Change Management</div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem HR_Transformation">
                                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="HR Transformation">
                                                    <div class="capabilityitemtitle">HR Transformation</div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem IntergratedMobility">
                                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Integrated Mobility">
                                                    <div class="capabilityitemtitle">Integrated Mobility</div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem OrganisationDesign">
                                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Organizational Design">
                                                    <div class="capabilityitemtitle">Organizational Design</div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem PreandPostTransactionalSupport">
                                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Pre and Post Transactional Support">
                                                    <div class="capabilityitemtitle">Pre and Post Transactional Support</div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Reward"> 
                                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Rewards & Recognition">
                                                    <div class="capabilityitemtitle">Rewards & Recognition</div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Talent">
                                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Talent Development & Enablement">
                                                    <div class="capabilityitemtitle">Talent Development & Enablement</div>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Analytics">
                                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Workforce Analytics & Management">
                                                    <div class="capabilityitemtitle">Workforce Analytics & Management</div>
                                                </div>
                                            </label>
                                        </div>                        
                                    </fieldset>
                                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                                    <a class="nextslide finish" href="#">FINISH</a>
                                </div>-->


                <div class="PASPillarswrap hide clearfix">
                    <fieldset id="PASPillars">
                        <legend>SELECT YOUR PILLAR</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Mobility">
                                    <input data-wrapname="PASMobilityPillarwrap" name=PASPillarswrapgroup type="radio" value="Mobility">
                                    <div class="capabilityitemtitle">Mobility</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Performance">
                                    <input data-wrapname="PASPerformancePillarwrap" name=PASPillarswrapgroup type="radio" value="Performance">
                                    <div class="capabilityitemtitle">Performance</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Reward">
                                    <input data-wrapname="PASRewardPillarwrap" name=PASPillarswrapgroup type="radio" value="Reward">
                                    <div class="capabilityitemtitle">Reward</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Systems">
                                    <input data-wrapname="PASSystemsPillarwrap" name=PASPillarswrapgroup type="radio" value="Systems">
                                    <div class="capabilityitemtitle">Systems</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Talent">
                                    <input data-wrapname="PASTalentPillarwrap" name=PASPillarswrapgroup type="radio" value="Talent">
                                    <div class="capabilityitemtitle">Talent</div>
                                </div>
                            </label>
                        </div>

                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>



                <div class="PASMobilityPillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Program_Management">
                                    <input name=PASMobilityPillargroup type="radio" value="Program Management Delivery">
                                    <div class="capabilityitemtitle">Program Management Delivery</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem ProgramEffectiveness">
                                    <input name=PASMobilityPillargroup type="radio" value="Program Effectiveness">
                                    <div class="capabilityitemtitle">Program Effectiveness</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Riskl_Compliance">
                                    <input name=PASMobilityPillargroup type="radio" value="Risk & Compliance">
                                    <div class="capabilityitemtitle">Risk & Compliance</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="PASPerformancePillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem OrganizantionalChangeMangement">
                                    <input name=PASPerformancePillar type="radio" value="Organizational Change Management">
                                    <div class="capabilityitemtitle">Organizational Change Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem OrganisationDesign">
                                    <input name=PASPerformancePillar type="radio" value="Organizational Design">
                                    <div class="capabilityitemtitle">Organizational Design</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem HR_Process">
                                    <input name=PASPerformancePillar type="radio" value="HR Process Design">
                                    <div class="capabilityitemtitle">HR Process Design</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem HR_OperatingDelivery_model">
                                    <input name=PASPerformancePillar type="radio" value="HR Operating & Delivery Model">
                                    <div class="capabilityitemtitle">HR Operating & Delivery Model</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="PASRewardPillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem InformationManagement">
                                    <input name=PASRewardPillar type="radio" value="Reward Framework & programme assessment">
                                    <div class="capabilityitemtitle">Reward Framework & programme assessment</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Service">
                                    <input name=PASRewardPillar type="radio" value="Reward Programme delivery">
                                    <div class="capabilityitemtitle">Reward Programme delivery</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Finance_Capability">
                                    <input name=PASRewardPillar type="radio" value="Reward Programme design">
                                    <div class="capabilityitemtitle">Reward Programme design</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Reward">
                                    <input name=PASRewardPillar type="radio" value="Reward Framework development">
                                    <div class="capabilityitemtitle">Reward Framework development</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="PASSystemsPillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Digital">
                                    <input name=PASSystemsPillar type="radio" value="Digital">
                                    <div class="capabilityitemtitle">Digital</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem HR_Technology">
                                    <input name=PASSystemsPillar type="radio" value="HR Technology">
                                    <div class="capabilityitemtitle">HR Technology</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Payroll">
                                    <input name=PASSystemsPillar type="radio" value="Payroll">
                                    <div class="capabilityitemtitle">Payroll</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="PASTalentPillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem People_Risk">
                                    <input name=PASTalentPillar type="radio" value="People Risk Management">
                                    <div class="capabilityitemtitle">People Risk Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem OrganizationalDevelopment">
                                    <input name=PASTalentPillar type="radio" value="Organizational Development">
                                    <div class="capabilityitemtitle">Organizational Development</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Capability_Development">
                                    <input name=PASTalentPillar type="radio" value="Capability Development">
                                    <div class="capabilityitemtitle">Capability Development</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem talent_management">
                                    <input name=PASTalentPillar type="radio" value="Talent Management">
                                    <div class="capabilityitemtitle">Talent Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem workforce_strategy">
                                    <input name=PASTalentPillar type="radio" value="Workforce Strategy">
                                    <div class="capabilityitemtitle">Workforce Strategy</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="TotalResults">Total Results: <span id="total"></span></div>
            </div>
        </div>  

        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <br />
                <div id="results" class="clearfix"></div>
            </div>               
        </div>

    </section>
    <section class="links">
        <div class="quiklinks"><h1>QUICK LINKS</h1></div>
        <div class="row clearfix"> 
            <div class="linkswrap">
                <div class="linkstitle">PAS</div>
                <div class="linkstext">People Advisory Services SharePoint Site</div>
                <a target="_blank" href="https://share.ey.net/sites/PeopleAdvisoryServices/SitePages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>          
            <div class="linkswrap">
                <div class="linkstitle">Tax learning Portal</div>
                <div class="linkstext">Access the Tax virtual learning portal</div>
                <a target="_blank" href="https://share.ey.net/sites/TaxLearning/SitePages/Community%20Home.aspx" class="learnmore">LEARN MORE</a>
            </div>    
            <div class="linkswrap">
                <div class="linkstitle">Advisory</div>
                <div class="linkstext">Advisory Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_Advisory/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div> 
        </div>
    </section>
    @@include('./links.html')

    @@include('./List_template.html')


    <script src="assets/js/script.js"></script>
    <script src="assets/js/PASLJ.js"></script>

</body>
</html>
