@@include('./head.html')
<body class="PASlearning">
    @@include('./header.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">PAS</div>
            <div class="rectagle"></div>
            <div class="text">The PAS learning suite is designed to take you from the beginning of your career through to mastery as a practitioner and leader.  Each of the pillars of the PAS practice is catered for, providing continuous professional development through instructor led training, Web Based Learning (WBL), and simulations as well as virtual and blended solutions.  In addition, we have learning aligned to the PAS Offerings to build your confidence in the market.
                <br /><br />
                Take charge of your learning and drive your own development! For classroom training please see your local Talent Development team for how to register.</div>            
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="capability">
            <div class="row">

                @@include('./area_region.html')

                <div class="selectrankwrap hide clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="PASCapabilitieswtrap" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>

                <div class="PASCapabilitieswtrap hide clearfix">
                    <fieldset id="PASCapabilities">
                        <legend>SELECT YOUR PAS DOMAIN / CAPABILITIES</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="PASPillarswrap" name=PASCapabilitieswtrapgroup type="radio" value="Pillars">
                                    <div class="capabilityitemtitle">Pillars</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="PASSERVICEOFFERINGS" name=PASCapabilitieswtrapgroup type="radio" value="Service Offerings">
                                    <div class="capabilityitemtitle">Service Offerings</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>


                <div class="PASSERVICEOFFERINGS hide clearfix">
                    <fieldset id="PASSERVICEOFFERINGS">
                        <legend>SELECT YOUR PAS SERVICE OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Change Management">
                                    <div class="capabilityitemtitle">Change Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="HR Transformation">
                                    <div class="capabilityitemtitle">HR Transformation</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Integrated Mobility">
                                    <div class="capabilityitemtitle">Integrated Mobility</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Organizational Design">
                                    <div class="capabilityitemtitle">Organizational Design</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Pre and Post Transactional Support">
                                    <div class="capabilityitemtitle">Pre and Post Transactional Support</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Rewards & Recognition">
                                    <div class="capabilityitemtitle">Rewards & Recognition</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Talent Development & Enablement">
                                    <div class="capabilityitemtitle">Talent Development & Enablement</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSERVICEOFFERINGSgroup type="radio" value="Workforce Analytics & Management">
                                    <div class="capabilityitemtitle">Workforce Analytics & Management</div>
                                </div>
                            </label>
                        </div>                        
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>


                <div class="PASPillarswrap hide clearfix">
                    <fieldset id="PASPillars">
                        <legend>SELECT YOUR PILLAR</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Mobility">
                                    <input data-wrapname="PASMobilityPillarwrap" name=PASPillarswrapgroup type="radio" value="Mobility">
                                    <div class="capabilityitemtitle">Mobility</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Performance">
                                    <input data-wrapname="PASPerformancePillarwrap" name=PASPillarswrapgroup type="radio" value="Performance">
                                    <div class="capabilityitemtitle">Performance</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Reward">
                                    <input data-wrapname="PASRewardPillarwrap" name=PASPillarswrapgroup type="radio" value="Reward">
                                    <div class="capabilityitemtitle">Reward</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Systems">
                                    <input data-wrapname="PASSystemsPillarwrap" name=PASPillarswrapgroup type="radio" value="Systems">
                                    <div class="capabilityitemtitle">Systems</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Talent">
                                    <input data-wrapname="PASTalentPillarwrap" name=PASPillarswrapgroup type="radio" value="Talent">
                                    <div class="capabilityitemtitle">Talent</div>
                                </div>
                            </label>
                        </div>

                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>



                <div class="PASMobilityPillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASMobilityPillargroup type="radio" value="Program Management Delivery">
                                    <div class="capabilityitemtitle">Program Management Delivery</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASMobilityPillargroup type="radio" value="Program Effectiveness">
                                    <div class="capabilityitemtitle">Program Effectiveness</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASMobilityPillargroup type="radio" value="Risk and Compliance">
                                    <div class="capabilityitemtitle">Risk and Compliance</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="PASPerformancePillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASPerformancePillar type="radio" value="Organizational Change Management">
                                    <div class="capabilityitemtitle">Organizational Change Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASPerformancePillar type="radio" value="Organizational Design">
                                    <div class="capabilityitemtitle">Organizational Design</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASPerformancePillar type="radio" value="HR Process Design">
                                    <div class="capabilityitemtitle">HR Process Design</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASPerformancePillar type="radio" value="HR Operating and Delivery Model">
                                    <div class="capabilityitemtitle">HR Operating and Delivery Model</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="PASRewardPillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASRewardPillar type="radio" value="Framework and program assessment">
                                    <div class="capabilityitemtitle">Framework and program assessment</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASRewardPillar type="radio" value="Program delivery">
                                    <div class="capabilityitemtitle">Program delivery</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASRewardPillar type="radio" value="Program design">
                                    <div class="capabilityitemtitle">Program design</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASRewardPillar type="radio" value="Framework development">
                                    <div class="capabilityitemtitle">Framework development</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="PASSystemsPillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSystemsPillar type="radio" value="Digital">
                                    <div class="capabilityitemtitle">Digital</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSystemsPillar type="radio" value="HR Technology">
                                    <div class="capabilityitemtitle">HR Technology</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASSystemsPillar type="radio" value="Payroll">
                                    <div class="capabilityitemtitle">Payroll</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="PASTalentPillarwrap hide clearfix">
                    <fieldset class="PASPillarOfferings">
                        <legend>SELECT YOUR PAS PILLAR OFFERINGS</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASTalentPillar type="radio" value="People Risk Management">
                                    <div class="capabilityitemtitle">People Risk Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASTalentPillar type="radio" value="Organizational Development">
                                    <div class="capabilityitemtitle">Organizational Development</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASTalentPillar type="radio" value="Capability Development">
                                    <div class="capabilityitemtitle">Capability Development</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASTalentPillar type="radio" value="Talent Management">
                                    <div class="capabilityitemtitle">Talent Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PASTalentPillar type="radio" value="Workforce Strategy">
                                    <div class="capabilityitemtitle">Workforce Strategy</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>

                <div class="TotalResults">Total Results: <span id="total"></span></div>
            </div>
        </div>  

        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <br />
                <div id="results" class="clearfix"></div>
            </div>               
        </div>

    </section>

    @@include('./links.html')

    @@include('./List_template.html')


    <script src="assets/js/script.js"></script>
    <script src="assets/js/PASLJ.js"></script>

</body>
</html>
