@@include('./head.html')
<body class="PiLearning">
    @@include('./header.html')
    @@include('./immersionpopup.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">Performance Improvement Learning</div>
            <div class="rectagle"></div>
            <div class="text">
                The PI Learning suite is designed to take you from the beginning of your career through to mastery as a practitioner and leader. Each of the domains of the PI practice is catered for, providing continuous professional development through instructor led training, Web Based Learning (WBL), and simulations as well as virtual and blended solutions.  Our business is in constant change, as is our learning.  Please check back regularly for added content and programs.
            </div>            
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="blended-togle-wrap">
            <div class="blended-togle clearfix">
                <input value="true" type="checkbox" name="toggle" class="sw" id="Blended">
                <label for="Blended"><span>Blended learning and program execution</span></label>
            </div>
        </div>
        <div class="capability">
            <input id="Divisiontrigger" type="checkbox" value="PI">
            <div class="row">

                @@include('./area_region.html')

                <div class="selectrankwrap hide clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="PiCapabilitieswtrap" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="PiCapabilitieswtrap" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="PiCapabilitieswtrap" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="PiCapabilitieswtrap" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="PiCapabilitieswtrap" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>


                <div class="PiCapabilitieswtrap hide clearfix">
                    <fieldset id="PiCapabilities">
                        <legend>SELECT YOUR PI DOMAIN / CAPABILITIES</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Progect_Management">
                                    <input data-wrapname="PIServiceOfferingsProjectManagement" name=PiCapabilitiesgroup type="radio" value="Program Management">
                                    <div class="capabilityitemtitle">Program Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Customer_Capability">
                                    <input data-wrapname="PIServiceOfferingsCustomerCapability" name=PiCapabilitiesgroup type="radio" value="Customer">
                                    <div class="capabilityitemtitle">Customer</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Finance_Capability">
                                    <input data-wrapname="PIServiceOfferingsFinanceCapability" name=PiCapabilitiesgroup type="radio" value="Finance">
                                    <div class="capabilityitemtitle">Finance</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Strategy_Capability">
                                    <input data-wrapname="PIServiceOfferingsStrategyCapability" name=PiCapabilitiesgroup type="radio" value="Strategy">
                                    <div class="capabilityitemtitle">Strategy</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SupplyChainandOperation">
                                    <input data-wrapname="PIServiceOfferingsSupplyChainOperation" name=PiCapabilitiesgroup type="radio" value="Supply Chain and Operations">
                                    <div class="capabilityitemtitle">Supply Chain and Operations</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem ITACapability">
                                    <input data-wrapname="PIServiceOfferingsITACapability" name=PiCapabilitiesgroup type="radio" value="Technology">
                                    <div class="capabilityitemtitle">Technology</div>
                                </div>
                            </label>
                        </div>                            
                    </fieldset>     
                    <a data-wrapname="selectrankwrap" class="previous"  href="#">&lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>




                <div class="PIServiceOfferingsProjectManagement hide clearfix">
                    <fieldset class="PIServiceOfferings">
                        <legend>SELECT YOUR PI CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Delivery">
                                    <input name=PIServiceOfferingsProjectManagement type="radio" value="PPM Delivery">
                                    <div class="capabilityitemtitle">PPM Delivery</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Controls">
                                    <input name=PIServiceOfferingsProjectManagement type="radio" value="PPM Controls">
                                    <div class="capabilityitemtitle">PPM Controls</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Commercial">
                                    <input name=PIServiceOfferingsProjectManagement type="radio" value="PPM Commercial">
                                    <div class="capabilityitemtitle">PPM Commercial</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Architect">
                                    <input name=PIServiceOfferingsProjectManagement type="radio" value="PPM Architect">
                                    <div class="capabilityitemtitle">PPM Architect</div>
                                </div>
                            </label>
                        </div>                                                      
                    </fieldset>        
                    <a data-wrapname="PiCapabilitieswtrap" class="previous"  href="#">&lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="PIServiceOfferingsCustomerCapability hide clearfix">
                    <fieldset class="PIServiceOfferings">
                        <legend>SELECT YOUR PI CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PIServiceOfferingsCustomerCapability type="radio" value="Experience">
                                    <div class="capabilityitemtitle">Experience</div>
                                </div>
                            </label>
                            <label>
                                <div class="capabilityitem Marketing">
                                    <input name=PIServiceOfferingsCustomerCapability type="radio" value="Marketing">
                                    <div class="capabilityitemtitle">Marketing</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Service">
                                    <input name=PIServiceOfferingsCustomerCapability type="radio" value="Service">
                                    <div class="capabilityitemtitle">Service</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Sales">
                                    <input name=PIServiceOfferingsCustomerCapability type="radio" value="Sales">
                                    <div class="capabilityitemtitle">Sales</div>
                                </div>
                            </label>
                        </div>  

                    </fieldset>         
                    <a data-wrapname="PiCapabilitieswtrap" class="previous"  href="#">&lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="PIServiceOfferingsFinanceCapability hide clearfix">
                    <fieldset class="PIServiceOfferings">
                        <legend>SELECT YOUR PI CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FinanceProcesses">
                                    <input name=PIServiceOfferingsFinanceCapability type="radio" value="Finance Processes">
                                    <div class="capabilityitemtitle">Finance Processes</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FinanceStragegy">
                                    <input name=PIServiceOfferingsFinanceCapability type="radio" value="Finance Stragegy">
                                    <div class="capabilityitemtitle">Finance Stragegy</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FinancialStatementsCloseandInsights">
                                    <input name=PIServiceOfferingsFinanceCapability type="radio" value="Financial Statements Close and Insights">
                                    <div class="capabilityitemtitle">Financial Statements Close and Insights</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem BusinessAssessment">
                                    <input name=PIServiceOfferingsFinanceCapability type="radio" value="Business Assessment">
                                    <div class="capabilityitemtitle">Business Assessment</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FinanceOrganisationDesign">
                                    <input name=PIServiceOfferingsFinanceCapability type="radio" value="Finance Organisation Design">
                                    <div class="capabilityitemtitle">Finance Organisation Design</div>
                                </div>
                            </label>
                        </div>

                    </fieldset>        
                    <a data-wrapname="PiCapabilitieswtrap" class="previous"  href="#">&lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="PIServiceOfferingsStrategyCapability hide clearfix">
                    <fieldset class="PIServiceOfferings">
                        <legend>SELECT YOUR PI CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem CorporateStragetgy">
                                    <input name=PIServiceOfferingsStrategyCapability type="radio" value="Corporate Stragetgy">
                                    <div class="capabilityitemtitle">Corporate Strategy</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Transformation">
                                    <input name=PIServiceOfferingsStrategyCapability type="radio" value="Transformation">
                                    <div class="capabilityitemtitle">Transformation</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Innovation">
                                    <input name=PIServiceOfferingsStrategyCapability type="radio" value="Innovation">
                                    <div class="capabilityitemtitle">Innovation</div>
                                </div>
                            </label>
                        </div>  
                    </fieldset>          
                    <a data-wrapname="PiCapabilitieswtrap" class="previous"  href="#">&lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="PIServiceOfferingsSupplyChainOperation hide clearfix">
                    <fieldset class="PIServiceOfferings">
                        <legend>SELECT YOUR PI CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem OutsourcingAdvisingManagement">
                                    <input name=PIServiceOfferingsSupplyChainOperation type="radio" value="Service Operations">
                                    <div class="capabilityitemtitle">Service Operations</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem OperationsandServices">
                                    <input name=PIServiceOfferingsSupplyChainOperation type="radio" value="Network Operations">
                                    <div class="capabilityitemtitle">Network Operations</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem LogisticsandFulfilment">
                                    <input name=PIServiceOfferingsSupplyChainOperation type="radio" value="Logistics and Fulfilment">
                                    <div class="capabilityitemtitle">Logistics and Fulfilment</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Manufacturing">
                                    <input name=PIServiceOfferingsSupplyChainOperation type="radio" value="Manufacturing">
                                    <div class="capabilityitemtitle">Manufacturing</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Procurement">
                                    <input name=PIServiceOfferingsSupplyChainOperation type="radio" value="Procurement">
                                    <div class="capabilityitemtitle">Procurement</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Planning">
                                    <input name=PIServiceOfferingsSupplyChainOperation type="radio" value="Planning">
                                    <div class="capabilityitemtitle">Planning</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem ProductLifecyclemanagement">
                                    <input name=PIServiceOfferingsSupplyChainOperation type="radio" value="Product Lifecycle management">
                                    <div class="capabilityitemtitle">Product Lifecycle management</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem E2ESCStrategy">
                                    <input name=PIServiceOfferingsSupplyChainOperation type="radio" value="E2E SC Strategy">
                                    <div class="capabilityitemtitle">E2E SC Strategy</div>
                                </div>
                            </label>
                        </div>                            

                    </fieldset>      
                    <a data-wrapname="PiCapabilitieswtrap" class="previous"  href="#">&lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <!--                <div class="PIServiceOfferingsPeopledvisoryService hide clearfix">
                                    <fieldset class="PIServiceOfferings">
                                        <legend>SELECT YOUR PI CAPABILITY</legend>
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Talent">
                                                    <input name=PIServiceOfferingsPeopledvisoryService type="radio" value="Talent">
                                                    <div class="capabilityitemtitle">Talent</div>
                                                </div>
                                            </label>
                                        </div>   
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Systems">
                                                    <input name=PIServiceOfferingsPeopledvisoryService type="radio" value="Systems">
                                                    <div class="capabilityitemtitle">Systems</div>
                                                </div>
                                            </label>
                                        </div>   
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Analytics">
                                                    <input name=PIServiceOfferingsPeopledvisoryService type="radio" value="Analytics">
                                                    <div class="capabilityitemtitle">Analytics</div>
                                                </div>
                                            </label>
                                        </div>   
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Performance">
                                                    <input name=PIServiceOfferingsPeopledvisoryService type="radio" value="Performance">
                                                    <div class="capabilityitemtitle">Performance</div>
                                                </div>
                                            </label>
                                        </div>   
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Reward">
                                                    <input name=PIServiceOfferingsPeopledvisoryService type="radio" value="Reward">
                                                    <div class="capabilityitemtitle">Reward</div>
                                                </div>
                                            </label>
                                        </div>   
                                        <div class="checkbox">
                                            <label>
                                                <div class="capabilityitem Mobility">
                                                    <input name=PIServiceOfferingsPeopledvisoryService type="radio" value="Mobility">
                                                    <div class="capabilityitemtitle">Mobility</div>
                                                </div>
                                            </label>
                                        </div>  
                
                                    </fieldset>       
                                    <a data-wrapname="PiCapabilitieswtrap" class="previous"  href="#">&lt; PREVIOUS</a>
                                    <a class="nextslide finish"  href="#">FINISH</a>
                                </div>-->

                <div class="PIServiceOfferingsITACapability hide clearfix">
                    <fieldset class="PIServiceOfferings">
                        <legend>SELECT YOUR PI CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem AdvancedAnalytics">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Advanced Analytics">
                                    <div class="capabilityitemtitle">Advanced Analytics</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem BusinessIntelligence">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Business Intelligence">
                                    <div class="capabilityitemtitle">Business Intelligence</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem InformationManagement">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Information Management">
                                    <div class="capabilityitemtitle">Information Management</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem ITPerformanceManagement">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="IT Performance Management">
                                    <div class="capabilityitemtitle">IT Performance Management</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem ITStrategy">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="IT Strategy">
                                    <div class="capabilityitemtitle">IT Strategy</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem InfrastructureServiceResilience">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Infrastructure & Service Resilience">
                                    <div class="capabilityitemtitle">Infrastructure & Service Resilience</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Architecture">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Architecture">
                                    <div class="capabilityitemtitle">Architecture</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem BusinessIntegration">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Business Integration">
                                    <div class="capabilityitemtitle">Business Integration</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem ImplementationPlatform">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Implementation Platform">
                                    <div class="capabilityitemtitle">Implementation Platform</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Artificial Intelligence">
                                    <div class="capabilityitemtitle">Artificial Intelligence</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="3D Printing">
                                    <div class="capabilityitemtitle">3D Printing </div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="IoT">
                                    <div class="capabilityitemtitle">IoT</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="Blockchain">
                                    <div class="capabilityitemtitle">Blockchain</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=PIServiceOfferingsITACapability type="radio" value="RPA">
                                    <div class="capabilityitemtitle">RPA</div>
                                </div>
                            </label>
                        </div>  

                    </fieldset>     
                    <a data-wrapname="PiCapabilitieswtrap" class="previous"  href="#">&lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="TotalResults">Total Results: <span id="total"></span></div>

            </div>
        </div>  


        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <br />

                <div id="results" class="clearfix"></div>
            </div>               

        </div>



    </section>

    @@include('./links.html')
    @@include('./List_template.html')
    <script src="assets/js/script.js"></script>
    <script src="assets/js/PI.js"></script>


</body>
</html>
