@@include('./head.html')
<body class="risk">
    @@include('./header.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">Risk Learning</div>
            <div class="rectagle"></div>
            <div class="text">
                The Risk Learning suite is designed to take you from the beginning of your career through to mastery as a practitioner and leader, while meeting the compliance needs of this highly regulated environment. Each of the domains of the Risk practice is catered for, providing continuous professional development through instructor led training, Web Based Learning (WBL), and simulations as well as virtual and blended solutions.
            </div>            
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>

        <div class="blended-togle-wrap">
            <div class="blended-togle clearfix">
                <input value="true" type="checkbox" name="toggle" class="sw" id="Blended">
                <label for="Blended"><span>Blended learning and program execution</span></label>
            </div>
        </div>
        <div class="capability">
            <input id="Divisiontrigger" type="checkbox" value="Risk">
            <div class="row">

                @@include('./area_region.html')

                <div class="selectrankwrap hide clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="RiskCapabilitieswtrap" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="RiskCapabilitieswtrap" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="RiskCapabilitieswtrap" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="RiskCapabilitieswtrap" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="RiskCapabilitieswtrap" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>


                <div class="RiskCapabilitieswtrap hide clearfix">
                    <fieldset id="RiskCapabilities">
                        <legend>SELECT YOUR RISK DOMAIN / CAPABILITIES</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Actuarial_Capability">
                                    <input data-wrapname="RiskServiceOfferingsActuarialCapabilty" name=RiskCapabilitiesgroup type="radio" value="Actuarial">
                                    <div class="capabilityitemtitle">Actuarial</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FSRM_Capability">
                                    <input data-wrapname="RiskServiceOfferingsFSRMCapabilty" name=RiskCapabilitiesgroup type="radio" value="FSRM">
                                    <div class="capabilityitemtitle">FSRM</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem risk_transformation_capability">
                                    <input data-wrapname="RiskServiceOfferingsRiskTransformationCapabilty" name=RiskCapabilitiesgroup type="radio" value="Risk Transformation">
                                    <div class="capabilityitemtitle">Risk Transformation</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem cybersecurity">
                                    <input data-wrapname="RiskServiceOfferingsCybersecurity"  name=RiskCapabilitiesgroup type="radio" value="Cybersecurity">
                                    <div class="capabilityitemtitle">Cybersecurity</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Internal_Audit_Capability">
                                    <input data-wrapname="RiskServiceOfferingsInternalAuditCapabilty" name=RiskCapabilitiesgroup type="radio" value="Internal Audit">
                                    <div class="capabilityitemtitle">Internal Audit</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Risk_Assurance_Capability">
                                    <input data-wrapname="RiskServiceOfferingsRiskAssuranceCapabilty"  name=RiskCapabilitiesgroup type="radio" value="Risk Assurance">
                                    <div class="capabilityitemtitle">Risk Assurance</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectrankwrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>

                <div class="RiskServiceOfferingsActuarialCapabilty hide clearfix">
                    <fieldset class="RiskServiceOfferings">
                        <legend>SELECT YOUR RISK CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Pension_and_Employment">
                                    <input name=RiskServiceOfferingsActuarialCapabilty type="radio" value="Pension and Employee Benefits">
                                    <div class="capabilityitemtitle">Pension and Employee Benefits</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Other_Corporate_Solutions">
                                    <input name=RiskServiceOfferingsActuarialCapabilty type="radio" value="Other Corporate Solutions">
                                    <div class="capabilityitemtitle">Other Corporate Solutions</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Non_Life">
                                    <input name=RiskServiceOfferingsActuarialCapabilty type="radio" value="Non Life">
                                    <div class="capabilityitemtitle">Non Life</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Life">
                                    <input name=RiskServiceOfferingsActuarialCapabilty type="radio" value="Life">
                                    <div class="capabilityitemtitle">Life</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Assessment_Management">
                                    <input name=RiskServiceOfferingsActuarialCapabilty type="radio" value="Asset Management">
                                    <div class="capabilityitemtitle">Asset Management</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>              
                    <a data-wrapname="RiskCapabilitieswtrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="RiskServiceOfferingsFSRMCapabilty hide clearfix">
                    <fieldset class="RiskServiceOfferings">
                        <legend>SELECT YOUR RISK CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FSRM_Regulatory_Compliance">
                                    <input name=RiskServiceOfferingsFSRMCapabilty type="radio" value="FSRM Regulatory Compliance">
                                    <div class="capabilityitemtitle">FSRM Regulatory Compliance</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FSRM_Analytics">
                                    <input name=RiskServiceOfferingsFSRMCapabilty type="radio" value="FSRM Analytics">
                                    <div class="capabilityitemtitle">FSRM Analytics</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FSRM_Risk_Management">
                                    <input name=RiskServiceOfferingsFSRMCapabilty type="radio" value="FSRM Risk Management">
                                    <div class="capabilityitemtitle">FSRM Risk Management</div>
                                </div>
                            </label>
                        </div>  

                    </fieldset>   
                    <a data-wrapname="RiskCapabilitieswtrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="RiskServiceOfferingsRiskTransformationCapabilty hide clearfix">
                    <fieldset class="RiskServiceOfferings">
                        <legend>SELECT YOUR RISK CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Governance_Risk_and_Compliance">
                                    <input name=RiskServiceOfferingsRiskTransformationCapabilty type="radio" value="Governance Risk and Compliance Technology Enablement">
                                    <div class="capabilityitemtitle">Governance Risk and Compliance Technology Enablement</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Risk_and_Control">
                                    <input name=RiskServiceOfferingsRiskTransformationCapabilty type="radio" value="Risk and Controls">
                                    <div class="capabilityitemtitle">Risk and Controls</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Risk_Management">
                                    <input name=RiskServiceOfferingsRiskTransformationCapabilty type="radio" value="Risk Management">
                                    <div class="capabilityitemtitle">Risk Management</div>
                                </div>
                            </label>
                        </div> 

                    </fieldset>   
                    <a data-wrapname="RiskCapabilitieswtrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="RiskServiceOfferingsCybersecurity hide clearfix">
                    <fieldset class="RiskServiceOfferings">
                        <legend>SELECT YOUR RISK CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Privacy">
                                    <input name=RiskServiceOfferingsCybersecurity type="radio" value="Privacy">
                                    <div class="capabilityitemtitle">Privacy</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Data_Protection">
                                    <input name=RiskServiceOfferingsCybersecurity type="radio" value="Data Protection">
                                    <div class="capabilityitemtitle">Data Protection</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Identity_and_Access_Management">
                                    <input name=RiskServiceOfferingsCybersecurity type="radio" value="Identity and Access Management">
                                    <div class="capabilityitemtitle">Identity and Access Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Cyber_Threat_Management">
                                    <input name=RiskServiceOfferingsCybersecurity type="radio" value="Cyber Threat Management">
                                    <div class="capabilityitemtitle">Cyber Threat Management</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Cyber_Program_Management">
                                    <input name=RiskServiceOfferingsCybersecurity type="radio" value="Cyber Program Management">
                                    <div class="capabilityitemtitle">Cyber Program Management</div>
                                </div>
                            </label>
                        </div>

                    </fieldset>    
                    <a data-wrapname="RiskCapabilitieswtrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="RiskServiceOfferingsInternalAuditCapabilty hide clearfix">
                    <fieldset class="RiskServiceOfferings">
                        <legend>SELECT YOUR RISK CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem IA_Exection">
                                    <input name=RiskServiceOfferingsInternalAuditCapabilty type="radio" value="IA Execution">
                                    <div class="capabilityitemtitle">IA Execution</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem IA_Funtional_Performance">
                                    <input name=RiskServiceOfferingsInternalAuditCapabilty type="radio" value="IA Functional Performance and Transformation">
                                    <div class="capabilityitemtitle">IA Functional Performance and Transformation</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem IA_Strategy_and_Planning">
                                    <input name=RiskServiceOfferingsInternalAuditCapabilty type="radio" value="IA Strategy and Planning">
                                    <div class="capabilityitemtitle">IA Strategy and Planning</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>       
                    <a data-wrapname="RiskCapabilitieswtrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>

                <div class="RiskServiceOfferingsRiskAssuranceCapabilty hide clearfix">
                    <fieldset class="RiskServiceOfferings">
                        <legend>SELECT YOUR RISK CAPABILITY</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Contractual_Compliance">
                                    <input name=RiskServiceOfferingsRiskAssuranceCapabilty type="radio" value="Third Party Compliance">
                                    <div class="capabilityitemtitle">Third Party Compliance</div>
                                </div>
                            </label>
                        </div>   
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Management_System_Certification">
                                    <input name=RiskServiceOfferingsRiskAssuranceCapabilty type="radio" value="Certification">
                                    <div class="capabilityitemtitle">Certification</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Internal_Control_Attestation">
                                    <input name=RiskServiceOfferingsRiskAssuranceCapabilty type="radio" value="Attestation">
                                    <div class="capabilityitemtitle">Attestation</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Regulatory_Compliance">
                                    <input name=RiskServiceOfferingsRiskAssuranceCapabilty type="radio" value="Third Party Related Compliance">
                                    <div class="capabilityitemtitle">Third Party Related Compliance</div>
                                </div>
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SOCR">
                                    <input name=RiskServiceOfferingsRiskAssuranceCapabilty type="radio" value="IT Audit">
                                    <div class="capabilityitemtitle">IT Audit</div>
                                </div>
                            </label>
                        </div> 
                    </fieldset> 
                    <a data-wrapname="RiskCapabilitieswtrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish"  href="#">FINISH</a>
                </div>


                <div class="TotalResults">Total Results: <span id="total"></span></div>

            </div>
        </div>  


        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <br />

                <div id="results" class="clearfix"></div>
            </div>               
        </div>

    </section>

    <section class="links">
        <div class="quiklinks"><h1>QUICK LINKS</h1></div>
        <div class="row clearfix"> 
            <div class="linkswrap">
                <div class="linkstitle">Actuarial</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?siteAreaID=SA-CCE2E9E06689758885257B550068CE4C&chsReplicaID=8525747A007C6936" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Cybersecurity</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_Advisory_Cyber/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">FSRM</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="https://share.ey.net/sites/GlobalFSRMCommunity/SitePages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Internal Audit</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_Advisory_IA/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Risk Assurance</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_advisory_RA/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Risk Transformation</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_RT/Pages/home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            
        </div>
    </section>

    @@include('./links.html')

    @@include('./List_template.html')


    <script src="assets/js/script.js"></script>
    <script src="assets/js/risk.js"></script>

</body>
</html>
