@@include('./head.html')
<body class="Sector">
    @@include('./header.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">Sector</div>
            <div class="rectagle"></div>
            <div class="text">Anticipation of market trends, identification of implications and development of clear points of view on relevant industry issues is required to deliver exceptional client service and keep winning in the market.
                <br /><br />
                Build a better working world by selecting your learning based on the Sectors we work with so you become even more connected to your client's agenda, be responsive to their needs and insightful about their pressing industry issues.
            </div>            
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="blended-togle-wrap">
            <div class="blended-togle clearfix">
                <input value="true" type="checkbox" name="toggle" class="sw" id="Blended">
                <label for="Blended"><span>Programs of Learning</span></label>
                <img title="The Programs of Learning button allows you to search and view learning content that has been grouped together to form a program of learning" class="tooltips" src="assets/css/Program_icon.png" alt=""/>
            </div>
        </div>
        <div class="capability">
            <input id="Divisiontrigger" type="checkbox" value="Sector">
            <div class="row">
  @@include('./area_region.html')

                <div class="selectrankwrap hide clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>

                <div class="Sector hide clearfix">
                    <fieldset id="Sector">
                        <legend>SELECT YOUR Sector</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Automotive">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Automotive & Transportation">
                                    <div class="capabilityitemtitle">Automotive & Transportation </div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem FS">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Banking & Capital Markets">
                                    <div class="capabilityitemtitle">Banking & Capital Markets</div>
                                </div>
                            </label>
                        </div>                        
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem consumerProducts">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Consumer Products & Retail">
                                    <div class="capabilityitemtitle">Consumer Products & Retail</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem government">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Government & Public Sector">
                                    <div class="capabilityitemtitle">Government & Public Sector</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem health">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Health">
                                    <div class="capabilityitemtitle">Health</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem insurance">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Insurance">
                                    <div class="capabilityitemtitle">Insurance</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem lifeSciences">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Life Sciences">
                                    <div class="capabilityitemtitle">Life Sciences</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem media">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Media & Entertainment">
                                    <div class="capabilityitemtitle">Media & Entertainment</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem mining">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Mining & Metals">
                                    <div class="capabilityitemtitle">Mining & Metals</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem OilGas">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Oil & Gas">
                                    <div class="capabilityitemtitle">Oil & Gas</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Power">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Power & Utilities">
                                    <div class="capabilityitemtitle">Power & Utilities</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem Private_Equity">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Private Equity">
                                    <div class="capabilityitemtitle">Private Equity</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem realEstate">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Real Estate, Hospitality & Construction">
                                    <div class="capabilityitemtitle">Real Estate, Hospitality & Construction</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem technology">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Technology">
                                    <div class="capabilityitemtitle">Technology</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem telecommunications">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Telecommunications">
                                    <div class="capabilityitemtitle">Telecommunications</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem wealthManagement">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Wealth & Asset Management">
                                    <div class="capabilityitemtitle">Wealth & Asset Management</div>
                                </div>
                            </label>
                        </div>


                    </fieldset>
<!--                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide" href="#">NEXT ></a>-->
                    
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>



<!--                <div class="LearningType hide clearfix">
                    <fieldset id="LearningType">
                        <legend>SELECT YOUR Learning Type</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem fundamental">
                                    <input name=LearningTypeGroop type="radio" value="Fundamentals">
                                    <div class="capabilityitemtitle">Fundamentals</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem informal">
                                    <input name=LearningTypeGroop type="radio" value="Informal Learning">
                                    <div class="capabilityitemtitle">Informal Learning</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem serviceOfferings">
                                    <input name=LearningTypeGroop type="radio" value="Service Offerings">
                                    <div class="capabilityitemtitle">Service Offerings</div>
                                </div>
                            </label>
                        </div>

                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>-->


                <div class="TotalResults">Total Results: <span id="total"></span></div>
            </div>
        </div>  

        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <br />
                <div id="results" class="clearfix"></div>
            </div>               
        </div>

    </section>


    <section class="links">
        <div class="quiklinks"><h1>QUICK LINKS</h1></div>
        <div class="row clearfix"> 
            <div class="linkswrap">
                <div class="linkstitle">Automotive & Transportation</div>
                <div class="linkstext">Automotive & Transformation Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_AT/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Banking & Capital Markets</div>
                <div class="linkstext">Global Banking & Capital Markets CHS site</div>
                <a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?&chsReplicaID=8525742B00470581" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Consumer Products & Retail</div>
                <div class="linkstext">Consumer Products & Retail Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_CPR/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Government & Public Sector</div>
                <div class="linkstext">Government & Public Sector Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_GPS/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Health</div>
                <div class="linkstext">Health Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_Health/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Insurance</div>
                <div class="linkstext">Insurance Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_Insurance/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Life Sciences</div>
                <div class="linkstext">Life Sciences Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_LS/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Media & Entertainment</div>
                <div class="linkstext">Media & Entertainment Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_ME/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Mining & Metals</div>
                <div class="linkstext">Mining & Metals Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_MM/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Oil & Gas</div>
                <div class="linkstext">Oil & Gas Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_OG/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Power & Utilities</div>
                <div class="linkstext">Power & Utilities Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_PU/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Private Equity</div>
                <div class="linkstext">Private Equity Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_PE/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Real Estate, Hospitality & Construction</div>
                <div class="linkstext">Real Estate, Hospitality & Construction Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_RHC/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Technology</div>
                <div class="linkstext">Technology Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_Tech/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Telecommunications</div>
                <div class="linkstext">Telecommunications Discover Community</div>
                <a target="_blank" href="https://share.ey.net/sites/DS_Telecoms/Pages/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">Wealth & Asset Management</div>
                <div class="linkstext">Global Wealth & Asset Management CHS</div>
                <a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?&chsReplicaID=8525739F004B3688" class="learnmore">LEARN MORE</a>
            </div>
            
            <div class="linkswrap">
                <div class="linkstitle">Sector Digital Playbooks</div>
                <div class="linkstext">Sector Digital Playbooks</div>
                <a target="_blank" href="https://share.ey.net/sites/globalindustry/digitalplaybooks/Digital%20Playbooks/Home.aspx" class="learnmore">LEARN MORE</a>
            </div>
            
        </div>
    </section>

    @@include('./links.html')
    @@include('./List_template.html')




    <script src="assets/js/script.js"></script>
    <script src="assets/js/Sectorlearning.js"></script>

</body>
</html>
