@@include('./head.html')
<body class="Sector_learning">
    @@include('./header.html')

    <section class="home">
        <div class="transperantbox">
            <div class="Journeyhometytle">Sector learning</div>
            <div class="rectagle"></div>
            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequa vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et.</div>            
        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="blended-togle-wrap">
            <div class="blended-togle clearfix">
                <input value="true" type="checkbox" name="toggle" class="sw" id="Blended">
                <label for="Blended"><span>Blended learning and program execution</span></label>
            </div>
        </div>
        <div class="capability">
            <input id="Divisiontrigger" type="checkbox" value="Sector">
            <div class="row">

                @@include('./area_region.html')

                <div class="selectrankwrap hide clearfix">
                    <fieldset id="ranks">
                        <legend>SELECT YOUR RANK</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem STAFF">
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="Staff/Consultant">
                                    <div class="ranktitle">Staff / Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem SENIOR">
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="Senior/Senior Consultant">
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem MANAGER">
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="Manager">
                                    <div class="ranktitle">Manager</div>                                   
                                </div> 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>   
                                <div class="capabilityitem head"> 
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="Senior Manager">
                                    <div class="ranktitle">Senior Manager</div>
                                </div>
                            </label>
                        </div>  
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem PARTNER">
                                    <input data-wrapname="Sector" name=ranksgroup type="radio" value="PPED">
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>
                    </fieldset>
                    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide"  href="#">NEXT ></a>
                </div>

                <div class="Sector hide clearfix">
                    <fieldset id="Sector">
                        <legend>SELECT YOUR Sector</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Automotive">
                                    <div class="capabilityitemtitle">Automotive</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Cleantech">
                                    <div class="capabilityitemtitle">Cleantech</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Consumer products">
                                    <div class="capabilityitemtitle">Consumer products</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="FS - Banking and Capital Market">
                                    <div class="capabilityitemtitle">FS - Banking and Capital Market</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Government and Public Sector">
                                    <div class="capabilityitemtitle">Government and Public Sector</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Health Care">
                                    <div class="capabilityitemtitle">Health Care</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Insurance">
                                    <div class="capabilityitemtitle">Insurance</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Life sciences">
                                    <div class="capabilityitemtitle">Life sciences</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Media and entertainment">
                                    <div class="capabilityitemtitle">Media and entertainment</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Mining and metals">
                                    <div class="capabilityitemtitle">Mining and metals</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Oil and gas">
                                    <div class="capabilityitemtitle">Oil and gas</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Power and utilities">
                                    <div class="capabilityitemtitle">Power and utilities</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Real estate">
                                    <div class="capabilityitemtitle">Real estate</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Technology">
                                    <div class="capabilityitemtitle">Technology</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Telecommunications">
                                    <div class="capabilityitemtitle">Telecommunications</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input data-wrapname="LearningType" name=SectorGroop type="radio" value="Wealth and Asset Management">
                                    <div class="capabilityitemtitle">Wealth and Asset Management</div>
                                </div>
                            </label>
                        </div>


                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide" href="#">NEXT ></a>
                </div>



                <div class="LearningType hide clearfix">
                    <fieldset id="LearningType">
                        <legend>SELECT YOUR Learning Type</legend>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=LearningTypeGroop type="radio" value="Fundamentals">
                                    <div class="capabilityitemtitle">Fundamentals</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=LearningTypeGroop type="radio" value="Informal Learning">
                                    <div class="capabilityitemtitle">Informal Learning</div>
                                </div>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <div class="capabilityitem XXX">
                                    <input name=LearningTypeGroop type="radio" value="Service Offerings">
                                    <div class="capabilityitemtitle">Service Offerings</div>
                                </div>
                            </label>
                        </div>

                    </fieldset>
                    <a class="previous" href="#"> &lt; PREVIOUS</a>
                    <a class="nextslide finish" href="#">FINISH</a>
                </div>


                <div class="TotalResults">Total Results: <span id="total"></span></div>
            </div>
        </div>  

        <div class="YOURSELECTIONSUMMARY">
            <div class="row clearfix">
                <h1>YOUR SELECTION SUMMARY</h1>
                <br />
                <div class="selectedfilters"></div>
                <a class="reset"  href="#">RESET</a>
            </div>
        </div>

        <div class="results">
            <div class="row clearfix">
                <h1>YOUR LEARNING OBJECTIVES</h1>
                <br />
                <div id="results" class="clearfix"></div>
            </div>               
        </div>

    </section>

    @@include('./links.html')
    @@include('./List_template.html')




    <script src="assets/js/script.js"></script>
    <script src="assets/js/Sectorlearning.js"></script>

</body>
</html>
