@@include('./head.html')

<body class="WTA_Learning_Journey">

    @@include('./header.html')
    @@include('./immersionpopup.html')

    <section class="home">
        <div class="transperantbox clearfix">
            <div class="Journeyhometytle">Welcome to Advisory (WTA) Learning</div>
            <div class="rectagle"></div>
            <div class="text">This suite of learning supports your onboarding journey with Advisory – there are different 
                paths depending on your rank but feel free to take the tour around both our Foundations 
                (Consultant to Manager) and Executive (Senior Manager to Partner) learning roadmaps.
            </div>

            <div class="boxes">
                <div class="homeinfobox pos1">  
                    <img src="assets/css/TOOLKIT_ico.png" alt="" />
                    <div class="yelow homeinfoboxtitle">WTEY Portal</div>
                    <div class="homeinfoboxtext">Including information about your geographical region, the WTEY Portal supports you from day one.</div>
                    <a target="_blank" href="http://wtey.ey.net/wps/myportal/wtey">LAUNCH SITE</a>
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>

                    <div class="roundnumber">1</div>
                </div>

                <div class="homeinfobox pos2">  
                    <img src="assets/css/video_icon.png" alt="" />
                    <div class="yelow homeinfoboxtitle">WTA Video</div>
                    <div class="homeinfoboxtext">A short interactive presentation introducing EY and Advisory.</div>
                    <a target="_blank" href="http://cdn.ey.com/echannel/welcometoadvisory/index.html">WATCH THE VIDEO</a>
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <div class="roundnumber">2</div>
                </div>


                <div class="homeinfobox pos3">  
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <img src="assets/css/TOOLKIT_ico.png" alt="" />
                    <div class="yelow homeinfoboxtitle">Advisory Success Toolkit</div>
                    <div class="homeinfoboxtext">A quick reference flipbook of useful information and links for Advisory new joiners.</div>
                    <a target="_blank" class="clearfix" href="https://share.ey.net/sites/alp/home/flipbook2/index.html">ACCESS THE TOOLKIT</a>
                    <div class="roundnumber">3</div>
                </div>

                <div class="homeinfobox pos4">  
                    <img src="assets/css/info_icon.png" alt="" />
                    <div class="yelow homeinfoboxtitle">WTA Overview Teaser</div>
                    <div class="homeinfoboxtext">A short teaser that takes you on a quick tour of the WTA learning journey based on your rank.</div>
                    <a target="_blank" href="https://playyourpart.ey.net/teasers/WTATeaser/index.html">WATCH THE TEASER</a>
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <div class="roundnumber">4</div>
                </div>

                <div class="ConsultanttoManager">
                    Consultant to Manager
                </div>

                <div class="SeniorManagertoPartner">
                    Senior Manager to Executive Director / Partner 
                </div>

                <div class="homeinfobox pos5">  
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <img src="assets/css/location_ico.png" alt="" />
                    <div class="yelow homeinfoboxtitle">WTA Foundation</div>
                    <div class="homeinfoboxtext">Essential onboarding learning for Advisory new joiners up to and including Managers.</div>
                    <a class="click1" class="clearfix" href="#">LEARN MORE</a>
                    <div class="roundnumber">5</div>
                </div>

                <div class="homeinfobox pos6">  
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <img src="assets/css/location_ico.png" alt="" />
                    <div class="yelow homeinfoboxtitle">WTA Executive</div>
                    <div class="homeinfoboxtext">Essential onboarding learning for Advisory new joiners from Senior Manager up to Partner.</div>
                    <a class="click2" class="clearfix" href="#">LEARN MORE</a>
                    <div class="roundnumber">5</div>
                </div>

                <div class="homeinfobox pos7">  
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <img src="assets/css/info_icon.png" alt="" />
                    <div class="yelow homeinfoboxtitle">Immersion</div>
                    <div class="homeinfoboxtext">Immersive classroom experience building core consulting skills.</div>
                    <a class="clearfix immersionpopupclick" href="#">LEARN MORE</a>
                    <div class="roundnumber">6</div>
                </div>

                <div class="homeinfobox pos8">  
                    <div class="yelowhor"></div>
                    <div class="yelowver"></div>
                    <img src="assets/css/info_icon.png" alt="" />
                    <div class="yelow homeinfoboxtitle">DAP Program</div>
                    <div class="homeinfoboxtext">Core learning program for Direct Admit Partners.
                        <br />
                        <b>Please contact your learning lead for more information.</b>
                    </div>
                    <div class="roundnumber">6</div>
                </div>
            </div>

        </div>
        <div class="scroll">
            <img id="scroll" src="assets/css/scroll.png" alt=""/>
            <img id="scroll-yelow" src="assets/css/scroll-yelow.png" alt=""/>
        </div>
    </section>

    <section>
        <div class="capability">
            <div class="row">


                <div class="selectrankwrap clearfix">
                    <fieldset id="LearningJourneyname">
                        <legend>Select your onboarding</legend>
                        <div class="checkbox triple">
                            <label>
                                <div class="capabilityitem tripplebg mapone">
                                    <h1>WTA Foundation</h1>
                                    <input name=group type="radio" value="Welcome to Advisory Foundation">
                                    <div class="ranktitle">Staff / Consultant</div>                                        
                                    <div class="ranktitle">Senior / Senior Consultant</div>
                                    <div class="ranktitle">Manager</div>  
                                </div>
                            </label>
                        </div>



                        <div class="checkbox double">
                            <label>
                                <div class="capabilityitem doublebg maptwo">
                                    <h1>WTA Executive</h1>
                                    <input name=group type="radio" value="Welcome to Advisory Executive">
                                    <div class="ranktitle">Senior Manager</div>
                                    <div class="ranktitle">PPED</div>
                                </div>
                            </label>
                        </div>




                    </fieldset>
                </div>                    
            </div>
        </div>  




        <div class="results">
            <div class="row clearfix">                    
                <div class="maps">
                    <div id="results" class="clearfix"></div>

                    <div class="Foundationwrap">
                        <h1>WTA Foundation</h1>
                        <p>Hover over the pins to view more information</p>
                        <img src="assets/css/Foundation-for-managers-and-below-Map.png" alt=""/>

                        <div class="ADVISORYgroop">MY ADVISORY</div>
                        <div class="CAREERgroop">MY CAREER</div>
                        <div class="CLIENTSgroop">MY CLIENTS</div>
                    </div>
                    <div class="Executivewrap"> 
                        <h1>WTA Executive</h1>
                        <p>Hover over the pins to view more information</p>
                        <img src="assets/css/Executive-Map_new.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>




    </section>



    <div class="footer clearfix">
        <div class="row">
            <div class="floatleft">
                © 2016 EYGM Limited.
                All Rights Reserved.
            </div>
            <div class="floatright">
                <a class="backToTop" href="#">Back to Top</a>
            </div>
        </div>
    </div>


    <script id="list" type="text/html">

        <div class="pointer">
            <div class="number"></div>
            <div class="smallcyrkle">
                <div class="rotatedline"></div>
                <div class="strightline"></div>
                <div class="cyrcklecontent">
                    <div class="pinwrap clearfix">
                        <div class="colorbar"></div>
                        <div class="greywraptitle"><%= Title %></div>
                        <div class="greydescription">
                            <div class="pad2">
                                <div class="xx"></div>
                                <div class="xy"></div>
                                <div class="yx"></div>
                                <div class="yy"></div>
                                <%= description %> 
                                <% if ( URL !== "http://tba" ){ %>
                                <a class="learnmoregreen" target="_blank" href="<%= URL %>">Launch Now</a>
                                <% } %>
                            </div>
                        </div>
                        <div class="learnmoreinbox">Learn More</div>
                        <div class="clearfix pad">Course type:<div class="padedwidth "><%= CourseType %></div></div>
                        <div class="clearfix pad">Course code:<div class="padedwidth "><%= coursecode %></div></div>

                        <% if ( Sector[0] !== "General (no sector)" ){ %>
                        <div class="clearfix pad">Sector: <div class="padedwidth clearfix"><%= Sector %></div></div>
                        <% } %>

                        <div class="clearfix pad">Course Duration:<div class="padedwidth clearfix courseduration"><%= Duration %></div></div>



                    </div>
                </div>
            </div> 
        </div>       

    </script>



    <script src="assets/js/script.js"></script>
    <script src="assets/js/WTA.js"></script>

</body>
</html>
