@import '_includes/normalize.min';
@import '_includes/_vars';
@import '_includes/_mixins';
@import '_includes/_base';
@import '_includes/_icons';

@import '_includes/_temp';


.ALJ{
    height: 500px;
    min-height: 100%;

    .home {
        background: rgba(0, 0, 0, 0) url("aljhomebg.jpg") no-repeat scroll center top / cover ;

        padding: 150px 5% 200px 5%;
        width: 90%;
        @include break(1100px){
            height: 100%;
            width: 100%;
            min-height: 780px;
            padding: 0;
        }
    }
    .links {
        background: rgba(0, 0, 0, 0) url("links.jpg") no-repeat scroll center bottom / cover ;
    }



    .transperantbox {
        height: auto;
        @include break(1100px){
            height: 420px;
        }
    }


    .Journeyhometytle {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 40px;
        text-align: center;
        color: #333333;
        line-height: 1.2em;
        @include break(670px){
            font-size: 60px;
        }
    }

    .comingsoon {
        background-color: #efefef;
        min-height: 70px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        text-align: center;
        line-height: 6;
    }

    /*    div#results {
            width: 24%;
            float: left;
        }
        div#results2 {
            width: 24%;
            float: left;
            margin: 0 0 0 1%;
            display: block;
            min-height: 10px;
        }
        div#results3 {
            width: 24%;
            float: left;
            margin: 0 0 0 1%;
            display: block;
            min-height: 10px;
        }
        div#results4 {
            width: 24%;
            float: left;
            margin: 0 0 0 1%;
            display: block;
            min-height: 10px;
        }*/

    .greywrap {
        float: left;
        background-color: #efefef;
        width: 100%;
        min-height: auto;
        margin: 1%;
        margin-bottom: 25px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        &:hover {
            background-color: #dfdfdf;
        }
        .greywraptitle {
            border-bottom: none;
            padding: 10px 25px 10px 10px;
            width: 87%;
            &:after{
                content: "+";
                font-size: 20px;
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
        .pad{
            padding: 10px 0;
        }
        .padedwidth {
            float: right;
            width: 60%;
        }
        .pad2 {
            padding: 10px;
        }
    }




}

.risk{
    height: 500px;
    min-height: 100%;
    .home { 
        background: rgba(0, 0, 0, 0) url("riskhomebg.jpg") no-repeat scroll center top / cover ;
        padding: 150px 5% 200px 5%;
        width: 90%;
        @include break(1100px){
            height: 100%;
            width: 100%;
            min-height: 780px;
            padding: 0;
        }
    }
    .links {
        background: rgba(0, 0, 0, 0) url("risk_footer.jpg") no-repeat scroll center bottom / cover ;
    }
}

.PiLearning{
    height: 100%;   
    .home {
        background: rgba(0, 0, 0, 0) url("PIhomebg.jpg") no-repeat scroll center top / cover ;



        padding: 150px 5% 200px 5%;
        width: 90%;
        @include break(1100px){
            height: 100%;
            width: 100%;    
            min-height: 740px;
            padding: 0;
        }
    }
    .links {
        background: rgba(0, 0, 0, 0) url("pi_footerbg.jpg") no-repeat scroll center bottom / cover ;
    }   

    .transperantbox {
        height: auto;
        @include break(1100px){
            height: 420px;
        }
    }


    .Journeyhometytle {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 40px;
        text-align: center;
        color: #333333;
        line-height: 1.2em;
        @include break(670px){
            font-size: 60px;
        }
    }
}

.PASlearning{
    height: 500px;
    min-height: 100%;
    .home {
        background: rgba(0, 0, 0, 0) url("pas_main_bg.jpg") no-repeat scroll center top / cover ;


        padding: 150px 5% 200px 5%;
        width: 90%;
        @include break(1100px){
            height: 100%;
            width: 100%;    
            min-height: 740px;
            padding: 0;
        }

    }
    .links {
        background: rgba(0, 0, 0, 0) url("pas_footer_bg.jpg") no-repeat scroll center bottom / cover ;
    }


    .transperantbox {
        height: auto;
        @include break(1100px){
            height: 470px;
        }
    }
}

.Account_Topics{
    height: 500px;
    min-height: 100%;
    .home {
        background: rgba(0, 0, 0, 0) url("Advisory_Hot_topics_BG.jpg") no-repeat scroll center top / cover ;



        padding: 150px 5% 200px 5%;
        width: 90%;
        @include break(1100px){
            height: 100%;
            width: 100%;    
            min-height: 740px;
            padding: 0;
        }
    }
    .links {
        background: rgba(0, 0, 0, 0) url("Advisory_Hot_topics_foot-BG.jpg") no-repeat scroll center bottom / cover ;
    }
    .capability {
        padding-top: 60px;
    }

    .transperantbox {
        height: auto;
        @include break(1100px){
            height: 430px;
        }
    }

}

.Sector{
    height: 500px;
    min-height: 100%;
    .home {
        background: rgba(0, 0, 0, 0) url("sector_main_bg.jpg") no-repeat scroll center top / cover ;
        padding: 150px 5% 200px 5%;
        width: 90%;
        @include break(1100px){
            height: 100%;
            width: 100%;    
            min-height: 740px;
            padding: 0;
        }
    }
    .links {
        background: rgba(0, 0, 0, 0) url("sector_footer_bg.jpg") no-repeat scroll center bottom / cover ;
    }
    .transperantbox {
        height: auto;
        @include break(1100px){
            height: 430px;
        }
    }
}

@media print { 
    .header, .footer, .sidebar, .searchbox2 {
        display: none !important;
    }
}