<div class="selectareawrap clearfix">
    <fieldset id="area">
        <legend>SELECT YOUR AREA</legend>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Americas">
                    <input data-wrapname="selectAmericasregionwrap" name=areagroup type="radio" value="Americas">
                    <div class="ranktitle">Americas</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem EMEIA">
                    <input data-wrapname="selectAPACregionwrap" name=areagroup type="radio" value="APAC">
                    <div class="ranktitle">APAC</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem APAC">
                    <input data-wrapname="selectEMEIAregionwrap" name=areagroup type="radio" value="EMEIA">
                    <div class="ranktitle">EMEIA</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Japan">
                    <input data-wrapname="selectJAPANregionwrap" name=areagroup type="radio" value="Japan">
                    <div class="ranktitle">Japan</div>
                </div>
            </label>
        </div>

    </fieldset>
    <a class="nextslide" href="#">NEXT ></a>
</div>












<div class="selectAmericasregionwrap hide clearfix">
    <fieldset class="regions">
        <legend>SELECT YOUR AMERICAS REGION</legend>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Canada">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="Canada">
                    <div class="capabilityitemtitle">Canada</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Central">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="Central">
                    <div class="capabilityitemtitle">Central</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Americas">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="FSO">
                    <div class="capabilityitemtitle">FSO Americas</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Isral">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="Israel">
                    <div class="capabilityitemtitle">Israel Region</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Latin-America-North">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="Latam North">
                    <div class="capabilityitemtitle">Latam North</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_NorthEast">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="Northeast">
                    <div class="capabilityitemtitle">Northeast</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Latin-South-American-">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="Latam South">
                    <div class="capabilityitemtitle">Latam South</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_SouthEast">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="Southeast">
                    <div class="capabilityitemtitle">Southeast</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_SouthWest">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="Southwest">
                    <div class="capabilityitemtitle">Southwest</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_West">
                    <input data-wrapname="selectrankwrap" name=Americasregion type="radio" value="West">
                    <div class="capabilityitemtitle">West</div>
                </div>
            </label>
        </div>


    </fieldset>
    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
    <a class="nextslide" href="#">NEXT ></a>
</div>









<div class="selectAPACregionwrap hide clearfix">
    <fieldset class="regions">
        <legend>SELECT YOUR APAC REGION</legend>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Asean">
                    <input data-wrapname="selectrankwrap" name=APACregiongroop type="radio" value="Asean">
                    <div class="capabilityitemtitle">Asean</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_FS0-Asian-Pacific">
                    <input data-wrapname="selectrankwrap" name=APACregiongroop type="radio" value="FSO">
                    <div class="capabilityitemtitle">FSO Asia-Pacific</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Greater-China">
                    <input data-wrapname="selectrankwrap" name=APACregiongroop type="radio" value="Greater China">
                    <div class="capabilityitemtitle">Greater China</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Korea-Region">
                    <input data-wrapname="selectrankwrap" name=APACregiongroop type="radio" value="Korea">
                    <div class="capabilityitemtitle">Korea Region</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Oceania">
                    <input data-wrapname="selectrankwrap" name=APACregiongroop type="radio" value="Oceania">
                    <div class="capabilityitemtitle">Oceania</div>
                </div>
            </label>
        </div>


    </fieldset>
    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
    <a class="nextslide" href="#">NEXT ></a>
</div>








<div class="selectEMEIAregionwrap hide clearfix">
    <fieldset class="regions">
        <legend>SELECT YOUR EMEIA REGION</legend>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Africa">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="Africa">
                    <div class="capabilityitemtitle">Africa</div>
                </div>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_CIS-EMEIA">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="CIS">
                    <div class="capabilityitemtitle">CIS</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem CSE">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="CSE">
                    <div class="capabilityitemtitle">CSE</div>
                </div>
            </label>
        </div>

        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_EMEIA">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="FSO">
                    <div class="capabilityitemtitle">FSO</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_GSA-EMEIA">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="GSA">
                    <div class="capabilityitemtitle">GSA</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Indian-Region">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="India">
                    <div class="capabilityitemtitle">India</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_MENA">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="MENA">
                    <div class="capabilityitemtitle">MENA</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Mediterranean">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="MED">
                    <div class="capabilityitemtitle">MED</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Nordics">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="Nordics">
                    <div class="capabilityitemtitle">Nordics</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_UK-and-I">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="UK&I">
                    <div class="capabilityitemtitle">UK&I</div>
                </div>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_WEM-EMEIA">
                    <input data-wrapname="selectrankwrap" name=EMEIAregiongroop type="radio" value="WEM">
                    <div class="capabilityitemtitle">WEM</div>
                </div>
            </label>
        </div>


    </fieldset>
    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
    <a class="nextslide" href="#">NEXT ></a>
</div>


<div class="selectJAPANregionwrap hide clearfix">
    <fieldset class="regions">
        <legend>SELECT YOUR JAPAN REGION</legend>
        <div class="checkbox">
            <label>
                <div class="capabilityitem Normal_Japan">
                    <input data-wrapname="selectrankwrap" name=JAPANregiongroop type="radio" value="Japan">
                    <div class="capabilityitemtitle">Japan</div>
                </div>
            </label>
        </div>
    </fieldset>
    <a data-wrapname="selectareawrap" class="previous"  href="#"> &lt; PREVIOUS</a>
    <a class="nextslide" href="#">NEXT ></a>
</div>