<div class="header">
    <div class="row">
        <div class="logo">
            <a href="/#page1"><img src="assets/css/EYLogo.png" alt="EY logo" /></a>
        </div>
        <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="box">
            <ul id="menu">
                <li><a href="index.html">Home </a></li>
                <li><a href="index.html#page1">What’s new?</a>
                <li id="dropdown"><a>Your Learning</a>
                    <ul id="submenu">
                        <li><a href="Welcome_to_Advisory.html">Welcome to Advisory</a></li>
                        <li><a href="Core_Advisory_Skills.html">Core Advisory Skills (CAS)</a></li>
                        <li><a href="Risk_Learning_Journey.html">Risk</a></li>
                        <li><a href="PI_Learning_Journey.html">PI</a></li>
                        <li><a href="PAS_Learning_Journey.html">PAS</a></li>
                        <li><a href="Account_Topics.html">Account Topics</a></li>
                        <li><a href="Sector.html">Sector</a></li>

                    </ul>
                </li>
                <li><a href="search.html">Advisory Learning Search</a></li>
            </ul>
        </div>
    </div>
</div>