<div class="header">
    <div class="row">
        <div class="logo">
            <a href="/#page1"><img src="assets/css/EYLogo.png" alt="EY logo" /></a>
        </div>
        <div id="box">
            <ul id="menu">
                <li><a href="index.html">Home </a></li>
                <li><a href="index.html#page1">What’s new?</a>
                <li id="dropdown"><a>Your Learning</a>
                    <ul id="submenu">
                        <li><a href="WTA_Learning_Journey.html">Welcome to Advisory</a></li>
                        <li><a href="Advisory_Learning_Journey.html">Advisory Core Consulting</a></li>
                        <li><a href="Risk_Learning_Journey.html">Risk</a></li>
                        <li><a href="PI_Learning_Journey.html">PI</a></li>
                        <li><a href="PAS_Learning_Journey.html">PAS</a></li>
                        <li><a href="Advisory_Hot_topics.html">Advisory Hot topics </a></li>
                        <li><a href="Sector_learning.html">Sector learning</a></li>
                        
                    </ul>
                </li>
                <li><a href="search.html">Advisory Learning Search</a></li>
            </ul>
        </div>
    </div>
</div>