<div class="immersionpopup">
    <div class="close">X</div>
    Immersion aims to equip new hires with core consulting competencies on managing client relationships, leadership and teaming, project management skills and the essentials of business communication. The program is available in EMEIA, Americas and APAC so reach out to your area learning deployment team for more information about how you can attend.
    <br />
    Now you can access the pre-requisite learning to this course (6 e-learning modules) here.
    <ul>
        <li><a href="https://eyglms6.intellinex.com/eyg/lang-en/taxonomy/TAX_Search.asp?UserMode=0&SearchStr=Q7668" target="blank">Intro to Structured Problem Solving</a> (EY Leads code: A25L430) </li>
        <li><a href="https://event.on24.com/eventRegistration/EventLobbyServlet?target=reg20.jsp&eventid=881302&sessionid=1&key=4B55BA694677B3AED79ED61C5F36B9DB&sourcepage=register" target="_blank">Decking Like a Consultant</a> (On24)</li>
        <li><a href="https://eyglms6.intellinex.com/eyg/lang-en/management/LMS_CNT_LaunchCourse.asp?LMStructure=0&UserMode=0&ActivityId=1410601&LangId=null" target="_blank">Storyboarding</a> (EY Leads code: A28B070) </li>
        <li><a href="https://eyglms6.intellinex.com/eyg/lang-en/management/LMS_CNT_LaunchCourse.asp?LMStructure=0&UserMode=0&ActivityId=1410583&LangId=null" target="_blank">CTQR Basics</a> (EY Leads code: A28AZ10) </li>
        <li><a href="https://eyglms6.intellinex.com/eyg/lang-en/management/LMS_CNT_LaunchCourse.asp?LMStructure=0&UserMode=0&ActivityId=1410580&LangId=null" target="_blank">Interviewing Process</a> (EY Leads code: A28B000)</li>
        <li><a href="https://eyglms6.intellinex.com/eyg/lang-en/management/LMS_CNT_LaunchCourse.asp?LMStructure=0&UserMode=0&ActivityId=1410795&LangId=null" target="_blank">Interviews: What Good Looks Like</a> (EY Leads code: A28AZT0)</li>
    </ul>
</div>
<div class="lightbox"></div>