<!--  <section class="links">
        <div class="quiklinks"><h1>QUICK LINKS</h1></div>
        <div class="row clearfix"> 
            <div class="linkswrap">
                <div class="linkstitle">XXX</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="XXX" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">XXX</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="XXX" class="learnmore">LEARN MORE</a>
            </div>
            <div class="linkswrap">
                <div class="linkstitle">XXX</div>
                <div class="linkstext">XXX</div>
                <a target="_blank" href="XXX" class="learnmore">LEARN MORE</a>
            </div>
        </div>
    </section>-->
<div class="footer clearfix">
    <div class="row">
        <div class="floatleft">
            © 2017 EYGM Limited.
            All Rights Reserved.
        </div>
        <div class="floatright">
            <a class="backToTop" href="#">Back to Top</a>
        </div>
    </div>
</div>