<section class="links">
    <div class="quiklinks"><h1>QUICK LINKS</h1></div>
    <div class="row clearfix"> 
        <div class="center">
            <img src="assets/css/cyrcles2.png" alt=""/>
        </div>
        <div class="linkswrap marginone">
            <div class="marker">1</div>
            <div class="linkstitle">EYU – Developing our people</div>
            <div class="linkstext">Link to the CHS site.</div>
            <a href="http://chs.ey.net/servlet/CHSRenderingServlet?chsReplicaID=852579AD00518D5D" class="learnmore">LEARN MORE</a>
        </div>
        <div class="linkswrap margintwo">
            <div class="marker">2</div>
            <div class="linkstitle">MDS</div>
            <div class="linkstext">Launch My Development Site</div>
            <a target="_blank" href="https://my-development.ey.net" class="learnmore">LEARN MORE</a>
        </div>
        <div class="linkswrap">
            <div class="marker">3</div>
            <div class="linkstitle">PMDP</div>
            <div class="linkstext">To go to PMDP site</div>
            <a target="_blank" href="http://chs.ey.net/servlet/CHSRenderingServlet?chsReplicaID=852579AD00518D5D&contentID=CT-98431B8F2C00FC29852579D4003AB029" class="learnmore">LEARN MORE</a>
        </div>
    </div>
</section>
<div class="footer clearfix">
    <div class="row">
        <div class="floatleft">
            © 2016 EYGM Limited.
            All Rights Reserved.
        </div>
        <div class="floatright">
            <a class="backToTop" href="#">Back to Top</a>
        </div>
    </div>
</div>