<script id="list" type="text/html">
    <div class="greywrap clearfix">
        <div class="colorbar"></div>
        <div class="greywraptitle"><b><%= Title %></b></div>
        <div class="greydescription">
            <div class="pad2">
                <div class="description">
                    <%= description %> 
                </div> 
                <% if ( America !== true ){ %>
                <% if ( Blended !== true ){ %>
                <a class="learnmoregreen" target="_blank" href="<%= URL %>">Launch Now</a>
                <% } %>
                <% } %>

            </div>
        </div>
        <div class="learnmoreinbox">Learn More</div>
        <div class="clearfix pad">Course Code:<div class="padedwidth "><%= coursecode %></div></div>
        <div class="clearfix pad">Course Type: <div class="padedwidth clearfix"><%= CourseType %></div></div>
        <div class="clearfix pad">Course Duration: <div class="padedwidth clearfix courseduration"><%= Duration %></div></div>
    </div>            
</script>